[2019-05-13 19:42] jzastoupil opened #1 "Unable to download stackskills courses"
I finally got the script to work on my Ubuntu  machine but keep getting this:
Trying to Login ...
[+]Login successful.
Collecting course information ...
Course not found or You need to purchase course.

I absolutely have access to the course url in question and am a relative Python newbie so I'm not entirely sure how to troubleshoot

[2019-05-25 12:04] barakagb commented on #1
H

Hellow jzastoupil , could you please share the course url , and i will try to resolve the issue.

[2019-06-02 18:58] barakagb commented on #1
This issue has been resolved ...Please reinstall gb-dl .Thanks

[2019-06-02 18:58] #1 closed

[2019-06-04 16:55] jzastoupil commented on #1
Thank you, its working perfectly :)

[2019-06-04 17:04] jzastoupil opened #2 "Only saving last video in each section"
The new version is only saving the very last video in each section - actually I suspect what it is doing is naming all of the videos the same name so that only the last video in each section is left. All of the zip files are there for the workbooks, etc, but only one video.

[2019-06-05 13:14] barakagb commented on #2
The issue has been fixed . Please re-install. Thanks

[2019-06-05 13:14] #2 closed

[2019-06-24 18:34] gelsas opened #3 "I want to archive a course I am enrolled in but get an error using your script."
[code]

What do I need to do to make it work ? I am using windows

[2019-06-25 05:39] barakagb commented on #3
It appears that python for Windows doesn't come with curses.
try
pip install windows-curses

[2019-06-25 21:31] gelsas commented on #3
Thank you for this tip, that seemed to have fixed the issue but now I am getting a new error shown.

`
C:\Users\gelsas\Desktop>gb-dl.py
Traceback (most recent call last):
  File "C:\Users\gelsas\AppData\Local\Programs\Python\Python37-32\Scripts\gb-dl.py", line 15, in <module>
    from blessings import Terminal
  File "c:\users\gelsas\appdata\local\programs\python\python37-32\lib\site-packages\bles

[2019-06-26 05:35] barakagb commented on #3
It seems that fcntl is not available in windows .The fcntl module is a standard library available... on Linux only! You won't find it under Windows environment . I will make a version that works for windows soon...stay tuned !!!

[2019-06-30 06:55] barakagb commented on #3
Hi , the problem is fixed ..please reinstall gb-dl .Thanks

[2019-06-30 06:55] #3 closed

[2019-06-30 14:42] gelsas commented on #3
I just tried as you suggested but I still get an error. How do I fix this one ?

[code]

[2019-06-30 19:07] barakagb commented on #3
fixed the issue ...please reinstall.Thanks

[2019-07-01 00:27] gelsas commented on #3
Perfect now I can enter all the needed details but I get this error.
Does the course url need to have a specific structure?

I have posted my error message below (I change the actuall course name to examplecourse etc.

[code]

Please let me know if I did something wrong.

P.S.: Thank you for making it work with windows! Thank you for beeing patient with me!

[2019-07-01 00:38] gelsas commented on #3
Added my course url to the gb dl file and now it seems to work but I got this error:

[code]

[2019-07-01 05:46] barakagb commented on #3
Yes , It seems that windows has an issue with some directory names it handles them differently from Linux .  'Understanding The Basics' is in single quotes probably it wants double quotes .I'll fix it soon.

[2019-07-01 17:41] barakagb commented on #3
The issue is fixed .Please reinstall . Thanks

[2019-07-02 15:14] gelsas commented on #3
Course is downloading now. Thank you!

It downloaded the first 4 sections correctly but section 5-12 were detected but no content of these sections got downloaded.

Any ideas why that could be ?

best regards

[2019-07-02 18:56] barakagb commented on #3
Did the script show downloading on section 5-12 ? or what was the message from the script.A screen shot would be much appreciated.I would need to investigate that but I would need the site name and course name you are trying to download.In the mean time try to download another course and see if it works.Thanks

[2019-07-04 06:24] barakagb commented on #3
@gelsas I tried downloading a course and it was successful.
![image](https://user-images.githubusercontent.com/30619781/60643879-286df800-9e3d-11e9-9629-c44d61d7e367.png)
.Your section 5-12 might contain only HTML text that's why ... please confirm that so a can work on a fix.Thanks

[2019-07-04 11:43] gelsas commented on #3
Every section is only videos:

![screenshot](https://user-images.githubusercontent.com/282734/60664082-45b4bd80-9e61-11e9-9a58-af9e6af7e9d5.png)

[code]

[2019-07-04 13:27] barakagb commented on #3
Its still unclear for me which site you are downloading from .Kindly share the site
e.g https://stackskills.com ... this will help to find a solution.Thanks

[2019-11-09 10:26] himangsusuri opened #4 "Is this for only the websites listed here or I want to download courses from here https://designerup.co/"

[2019-11-09 10:26] himangsusuri commented on #4
https://designerup.co/

This is  also a teachable website with wistia videos

[2019-11-10 11:39] barakagb commented on #4
Hi @himangsusuri  I have tried to modify the script for you. Please test it and kindly give feedback.
I have no account for designerup.co so i cannot test it . Good luck!
[gb-dl_v1.3.zip](https://github.com/barakagb/gb-dl/files/3828386/gb-dl_v1.3.zip)

[2019-11-10 16:22] himangsusuri commented on #4
Sir, I can give you the account if needed but how to contact you... Many thanks for your effort

[2019-11-10 16:27] himangsusuri commented on #4
File "<ipython-input-2-ed64b52809d1>", line 50
    elif "designerup" in self.course_url:
                                         ^
IndentationError: unindent does not match any outer indentation level error with code

[2019-11-11 09:51] barakagb commented on #4
Hi you can find me at barakagb[a't]gmail[dot]com
Please try this script .
[gb-dl_v1.3-fixed.zip](https://github.com/barakagb/gb-dl/files/3830692/gb-dl_v1.3-fixed.zip)

[2019-11-12 19:51] barakagb commented on #4
Hi , you can download courses from https://designerup.co/ .
Install/Re-install the latest version .Cheers

[2019-11-12 19:51] #4 closed

[2019-12-09 08:21] marens101 opened #5 "Issues installing dependencies"
[code]

[2019-12-09 09:05] barakagb commented on #5
Try
pip/3 install gb-dl

[2019-12-09 09:12] #5 closed

[2020-01-02 10:55] nbctcp opened #6 "Connection failed"
ERROR:
Password :
Trying to Login ...
[-] Connection failed.Please check your internet connection and try again!
 value

I am using 2nd January git clone.
That's the error I encounter,
Ping to internet no problem
Login to webpage no problem
I think that because it protected by Cloudflare
tq

[2020-01-04 14:42] barakagb commented on #6
Hi @nbctcp  kindly share more details e.g course url and screenshot  . You can send me the details in my email(found when running the script)  if you are not comfortable sharing here.Thanks

[2020-01-05 09:04] barakagb commented on #6
Hi Kindly uninstall and reinstall the script using pip install gb-dl.
This is resolved .Thanks
Kindly consider donating

https://www.buymeacoffee.com/barakagb
 https://www.ko-fi.com/barakagb

[2020-01-05 09:04] #6 closed

[2020-01-10 11:31] andrewiassur opened #7 "not working on stackskills.com"
Enter course url : url
Email : email
Password :
Trying to Login ...
[-] Connection failed.Please check your internet connection and try again!

init_poolmanager() got an unexpected keyword argument 'ssl_context'

i have an internet connection email address password and url are correct. does this have to do with the ddos protection for cloud flare?

[2020-01-13 05:51] barakagb commented on #7
Hi Andrew , I am working on a fix . will share soon.Thanks

[2020-01-13 13:49] andrewiassur commented on #7
thank you very much

[2020-01-13 21:22] tdsprouse opened #8 "Not working"
Program starts, prompts for Course url, then Email, and tehn Course url again.  no matter what is entered, it dumps out back to cmmd prompt

![image](https://user-images.githubusercontent.com/24418269/72293132-db0ae880-3620-11ea-881d-8f75980403e3.png)

(on Windows 10)

[2020-01-14 07:52] barakagb commented on #8
Working on a fix ...will resolve soon

[2020-01-14 11:56] tdsprouse commented on #8
Thanks!  I appreciate it!

[2020-01-14 20:07] barakagb commented on #7
Hi Andrew , the issue has been fixed kindly goto https://bmc.xyz/l/gbdl to download the latest version.Thanks

[2020-01-14 20:07] #7 closed

[2020-01-14 20:08] barakagb commented on #8
Hi @tdsprouse , the issue has been fixed .Kindly go to https://bmc.xyz/l/gbdl to download a latest version.Thanks.   `https://bmc.xyz/l/gbdl `

[2020-01-14 20:08] #8 closed

[2020-01-14 20:19] tdsprouse commented on #8
Thanks, got the file, ran it, it opened a new window, looked like it was going to work...  It got to 'Trying to login' and then teh window just closed.

[2020-01-14 20:21] barakagb commented on #8
are you using windows or linux ??

[2020-01-14 20:22] tdsprouse commented on #8
windows 10, I ran the .exe you had posted.

[2020-01-14 20:22] barakagb commented on #8
open cmd then run the script

[2020-01-14 20:24] tdsprouse commented on #8
ah, more info this time...

![image](https://user-images.githubusercontent.com/24418269/72379703-f38f0780-36e1-11ea-97f6-1c33a2f66178.png)

[2020-01-14 20:32] barakagb commented on #8
![Screenshot (98)](https://user-images.githubusercontent.com/30619781/72380255-0cb9a780-3726-11ea-98d4-908236cc67ff.png)

[2020-01-14 20:34] tdsprouse commented on #8
I will try from a different location this evening.

[2020-01-14 20:35] barakagb commented on #8
okay ..kindly provide feedback .Thanks

[2020-01-14 20:55] barakagb commented on #8
use the v1.4

[2020-01-14 21:19] tdsprouse commented on #8
Appears to be working now.  is downloading first course, though will
probably take a good long time to get it all.  :)

Thanks so much!

On Tue, Jan 14, 2020 at 3:55 PM barakagb <notifications@github.com> wrote:

[2020-01-29 20:35] designDemon opened #9 "Will this work with any course"
hey can this be used to download the complete playlist of any course on teachable for offline use?

[2020-01-30 08:49] barakagb commented on #9
Hi @designDemon  the script downloads courses from the listed platforms.
was tested and works on
infosec4tc.teachable.com ,ehacking.net ,stackskills.com and designerup.co

[2020-01-30 08:49] #9 closed

[2020-01-30 10:29] designDemon commented on #9
Can you please confirm if I will be able to make minor changes and adapt it
to work for downloading the entire playlist for this course:

codewithmosh.com/courses/enrolled/525068

Also hosted on teachable

Thanks and rgds
Karan

On Thu, 30 Jan 2020, 14:19 barakagb, <notifications@github.com> wrote:

[2020-01-30 11:21] barakagb commented on #9
I will have to update the script for that . I will revert once its updated soon.

[2020-01-30 11:23] designDemon commented on #9
Hey that'll be great. Thanks.

On Thu, 30 Jan 2020, 16:51 barakagb, <notifications@github.com> wrote:

[2020-01-30 18:18] barakagb commented on #9
Hi @Karan I made some nu changes however I cannot test them since I don't have an account.

[2020-01-31 18:56] designDemon commented on #9
I see. How can I test it for you?

#PS Apologies for the delay in reply as had some work related submissions

On Thu, Jan 30, 2020 at 11:48 PM barakagb <notifications@github.com> wrote:

--
Karan Aggarwal
+91 8130 737 777
*Community Nurturer*
www.designrev.in
@ Design Revolution From India
  <http://www.designrev.in/?utm_source=Email&utm_content=karan>

*Founder and Product Designer*
*www.tiivr.in

[2020-02-02 11:35] barakagb commented on #9
Kindly contact me via email . We will discuss more there.

On Fri, Jan 31, 2020, 21:56 designDemon <notifications@github.com> wrote:

[2020-02-03 17:54] designDemon commented on #9
what is your email address?

I have the paid account for one more day.

On Sun, Feb 2, 2020 at 5:05 PM barakagb <notifications@github.com> wrote:

--
Karan Aggarwal
+91 8130 737 777
*Community Nurturer*
www.designrev.in
@ Design Revolution From India
  <http://www.designrev.in/?utm_source=Email&utm_content=karan>

*Founder and Product Designer*
*www.tiivr.in <http://www.tiivr.in/>*
@ Tiivr Labs (t

[2020-02-04 05:24] barakagb commented on #9
barakagb[at]gmail[dot]com

On Mon, Feb 3, 2020 at 8:54 PM designDemon <notifications@github.com> wrote:

[2020-02-21 12:22] andrewiassur opened #10 "cloud flare problem?"
Trying to Login ...
[-] Connection failed.Please check your internet connection and try again!

!!Loop Protection!! We have tried to solve 3 time(s) in a row.

[2020-02-21 12:25] barakagb commented on #10
Yes , just wait for a while and try again.

On Fri, Feb 21, 2020, 15:22 andrewiassur <notifications@github.com> wrote:

[2020-02-21 12:31] #10 closed

[2020-03-19 19:04] broodfusion opened #11 "not working - where to enter key?"
using python version 2.7
![image](https://user-images.githubusercontent.com/11618564/77104712-b4c74780-69d9-11ea-9462-89e4fbc672f4.png)

- Downloaded from pip
- don't know where to enter key
- doesn't ask for password
- see screenshot
![image](https://user-images.githubusercontent.com/11618564/77104533-674ada80-69d9-11ea-89f8-e4a3075e8a06.png)

[2020-03-19 19:24] barakagb commented on #11
@broodfusion It works on python2 and python3  check screeenshot for python2.
Try updating your python or try python3.

Key will be requested later when downloading the course.

1.Try running gb-dl.py
2. update your python2 or try python3

Screenshot
![Screenshot from 2020-03-19 22-20-47](https://user-images.githubusercontent.com/30619781/77106328-f5ea4680-6a2f-11ea-9ec6-7b99517b243f.png)

[2020-03-19 20:00] broodfusion commented on #11
ok installing python3.8 corrected this
Can you make a quick update to support https://learn.tylermcginnis.com/ ?
Thanks

[2020-03-19 20:05] barakagb commented on #11
I think the issue was the OpenSSL needed to be updated. Am glad it worked am closing this issue.

[2020-03-19 20:05] #11 closed

[2020-03-31 00:45] ahsunchohan opened #12 "Stackskills not working (recaptcha error)"
Hi,

When I try to download a course(https://stackskills.com/courses/enrolled/348500) at stackskills, I get error.

I also tried to login via cookies that I got from the browser after logging in, but that doesn't work either.

![image](https://user-images.githubusercontent.com/26001761/77975099-5f543a00-72f9-11ea-8187-749df86ef4d7.png)

[2020-03-31 06:04] barakagb commented on #12
Hi @ahsunchohan  , what is the name of the cookie variable you took from your browser ?
Thanks.

[2020-03-31 08:40] ahsunchohan commented on #12
@barakagb Cookie that I entered is as below with masked(*) numbers.

I also tried by only providing cookie with variable names:
- __cfduid
- __cfruid

[2020-03-31 09:13] barakagb commented on #12
Login to stackskills and copy the _session_id  value it is usually a long string.

[2020-03-31 09:19] ahsunchohan commented on #12
@barakagb  Thanks. I was giving all cookie with the variable names. Now I just gave the value of _session_id and that started to download the content.

Thanks for a quick reply.

One thing I noticed is, it is downloading video files as .bin. Any quick fix for it?

[2020-03-31 09:26] barakagb commented on #12
That's not normal , it usually download a video format did you login and
copy the cookie ?

On Tue, Mar 31, 2020, 12:19 Ahsun Chohan <notifications@github.com> wrote:

[2020-03-31 09:28] ahsunchohan commented on #12
@barakagb Yes, I downloaded and copy the cookie. It worked, I just renamed .bin to .mp4 and video is working fine.

[2020-03-31 09:32] barakagb commented on #12
I will update the script to automatically convert bin to mp4

On Tue, Mar 31, 2020, 12:28 Ahsun Chohan <notifications@github.com> wrote:

[2020-03-31 10:33] ahsunchohan commented on #12
@barakagb : When I try to download course(https://stackskills.com/courses/enrolled/230967)
I get an error:

[-] Error : 'NoneType' object has no attribute 'find'

[2020-03-31 12:38] barakagb commented on #12
Have you purchased the course ?

[2020-03-31 12:41] ahsunchohan commented on #12
Yes, of course.
![image](https://user-images.githubusercontent.com/26001761/78027367-893f4800-735d-11ea-92f8-3be36e91da75.png)

![image](https://user-images.githubusercontent.com/26001761/78027441-a7a54380-735d-11ea-87a0-b19089fab1a7.png)

[2020-03-31 12:48] barakagb commented on #12
Make sure the url is in this format
https://stackskills.com/courses/enrolled/348500
not
https://stackskills.com/courses/enrolled/348500/lectures/03232

[2020-03-31 12:50] ahsunchohan commented on #12
of course, URL that I gave is. The script worked fine for other courses, it is just this course(https://stackskills.com/courses/enrolled/230967) I get the error.

The above are just screenshots to tell that I have purchased the course.

[2020-03-31 16:20] barakagb commented on #12
I think the link has a problem it doesn't even show on the browser.
![image](https://user-images.githubusercontent.com/30619781/78050101-8277fb80-7384-11ea-8f8b-a64cb4a57915.png)

[2020-03-31 16:45] ahsunchohan commented on #12
strange, as the same link works for me.

![image](https://user-images.githubusercontent.com/26001761/78052581-9f5e0000-737f-11ea-8fcc-2dee33a118b5.png)

[2020-04-01 08:04] barakagb commented on #12
Hi @ahsunchohan  , so I have noticed the issue is that its not the page does not display if you haven't logged in . The problem its with the page itself. With that said I am closing this issue feel free to open another issue when you encounter a problem. Cheers.

[2020-04-01 08:04] #12 closed

[2020-04-01 08:18] ahsunchohan commented on #12
@barakagb : Thanks for the prompt response and helping me to resolve the issue.

[2020-04-21 14:22] shywolf91 opened #13 "error trying to download stackskill course"
Hello I having issues using gb-dl to download a course i'm enrolled in on stackskill

output
[code]

[2020-04-21 14:49] barakagb commented on #13
Hi @shywolf91 ,
Kindly create a folder named '3.3. Global Macroeconomics + How the World of Finance Works + Excel Part 1/4 The IMF'  where the course is downloaded it should work.

[2020-04-21 17:46] shywolf91 commented on #13
Tried making that folder and it seemed to work but every folder after that seems to fail

[code]

[2020-04-22 05:46] barakagb commented on #13
Hi @shywolf91 , re-install gb-dl , I fixed the issue.

re-install command.
pip install gb-dl -U

[2020-04-22 07:25] gohrobingo opened #14 "[-] Error : [WinError 123] The filename, directory name, or volume label syntax is incorrect:"
Hi, I encountered this error: [-] Error : [WinError 123] The filename, directory name, or volume label syntax is incorrect:

Reading from your last post, i guess it is some folder not being created. I proceeded to add the folder on my own. However, there is an issue as the folder name contains an invalid character.

Can you parse the title and remove any invalid characters before creating the fold

[2020-04-22 07:53] barakagb commented on #14
Hi @gohrobingo , what gb-dl version and OS are you running ? also include a screenshot and the link to the course if possible .Thanks.

[2020-04-22 08:01] gohrobingo commented on #14
I am running gb-dl version 1.6.3.2 and OS windows 10.

Attached is the screen shot: https://i.imgur.com/hdQVBPN.png

[2020-04-22 08:15] barakagb commented on #14
upgrade gb-dl to version 1.6.3.3
pip install gb-dl -U

[2020-04-22 09:21] #14 closed

[2020-04-22 14:05] gohrobingo commented on #14
Hi, i have updated and it still shows me the same error.

Screenshot: https://i.imgur.com/1yaTyvm.png

[2020-04-22 14:47] barakagb commented on #14
Hi the issue is fixed upgrade to version 1.6.3.4
pip install gb-dl -U

[2020-04-22 16:59] gohrobingo opened #15 "Doesn't Create Course Structure"
Hi, I am using version 1.6.3.3. It doesn't create any course structure by means of folders system. In fact, it didn't create any folders and just downloaded it in the main folder for one of the courses.

Please make it more consistent  to always create folders and sub folders so that it is easier for us to manage.

Just another thing, some of the files are downloaded as .bin file, while some namin

[2020-04-22 17:15] barakagb commented on #15
hi @gohrobingo , The script downloads the course with its structure . As for the bin file just change it to mp4 and it should work , for the naming the names come from the course its self the script does not rename the files.
Kindly share the course link that did not download with the course structure.Thanks

[2020-04-23 00:03] shywolf91 commented on #13
The update seemed to work but i've encounterd two more errors on ubuntu and windows:

ubuntu:
[code]

windows
[code]

[2020-04-23 02:53] gohrobingo commented on #15
Previously, Python Fundamentals and Javascript Bible had problems using previous version. But now I am using the 1.6.3.4 version, everything looks good for now.

[2020-04-23 06:24] barakagb commented on #15
Glad it works! .

[2020-04-23 06:24] #15 closed

[2020-04-23 06:50] barakagb commented on #13
what version of gb-dl are you using ?

[2020-04-23 11:42] shywolf91 commented on #13
1.6.3.4

[2020-04-24 03:49] gohrobingo opened #16 "[-] Error : [WinError 2] The system cannot find the file specified:"
Hi, The previous issue of stripping invalid characters to create a folder has been settled. However, recursively, whether the course title has invalid characters, it will throw out the above error. Please help. Thanks.

[2020-04-24 04:52] barakagb commented on #16
please  share the course link that produces the error and a screenshot of the output if you may.

[2020-04-24 08:22] gohrobingo commented on #16
Hi, here's the course and screenshot. I have tried. Many courses with ":" in the title unfortunately can't work.

https://i.imgur.com/VrN4tZp.png

[2020-04-24 09:13] barakagb commented on #16
Hi , you hid some info in the screen shot that i need to detect the problem and fix it kindly share the screen shot via email if you can so I can come up with a fix. Thanks

[2020-04-24 09:29] barakagb commented on #13
upgrade to 1.6.3.5
pip install gb-dl -U

[2020-04-24 09:29] #13 closed

[2020-04-24 09:31] barakagb commented on #16
I the meanwhile try to upgrade to v1.6.3.5

[2020-04-24 10:02] gohrobingo commented on #16
Will try v1.6.3.5.

Do you need the path of where the files are saved?

[2020-04-24 10:36] barakagb commented on #16
Yes but try upgrading to v1.6.3.6

[2020-04-24 13:56] gohrobingo commented on #16
v1.6.3.6 can't even run. It just shows error:

                  / ____|  _ \               | | |
                 | |  __| |_) |  ______    __| | |
                 | | |_ |  _ <  |______|  / _` | |
                 | |__| | |_) |          | (_| | |
                  \_____|____/            \__,_|_|

                                        Version : 1.6.3.6
                            Author  : B

[2020-04-24 15:28] barakagb commented on #16
Try v1.6.3.7 , Please also share the screen shot in Private so I can further investigate it. Thanks

[2020-04-24 16:45] gohrobingo commented on #16
Thanks. v1.6.3.7 is working well so far. You still need any screenshot?

[2020-04-24 17:33] gohrobingo commented on #16
There is an issue with 1.6.3.7. It will skip a few sections without downloading.

Course url: https://stackskills.com/courses/enrolled/62225
Screenshot attached: https://i.imgur.com/lrZZiJA.png

[2020-04-25 01:33] shywolf91 commented on #13
upgraded to 1.6.3.7 and this error is still present on windows 10:
`[-] Error : [Error 3] The system cannot find the path specified: u'12.12. Stock Markets + Portfolio Management Part 3 Learn by Doing Excel Exercises'`

I'll try running it on ubuntu later and see if any errors pop up.

[2020-04-25 02:05] gohrobingo commented on #16
There are alot of bugs in v1.6.3.7. For this course, it keeps downloading the same files in different section.

Course URL: https://stackskills.com/courses/enrolled/67419
Screenshot:https://i.imgur.com/9UDfQfo.png

[2020-04-25 04:33] shywolf91 commented on #13
updated on ubuntu too and got same error:
`[-] Error : 'ascii' codec can't encode character u'\u2019' in position 62: ordinal not in range(128)
`
version 1.6.3.7

[2020-04-25 05:37] barakagb commented on #13
Hi that is strange what version of python are you running ?

[2020-04-25 08:11] barakagb commented on #16
Hi @gohrobingo  , that seems strange I don't think its a bug rather the course is in a different format from other course because the script would work for other many courses but this . I would need to access the course so I can figure out what is the issue otherwise I will just be a game of guessing.

Try upgrading to version 1.6.3.8 also if you can try downloading the courses in Linux preferably

[2020-04-25 08:12] #16 closed

[2020-04-25 16:17] shywolf91 commented on #13
version 1.6.3.9

I get a different error now:
[code]
[code]

[2020-04-25 16:56] barakagb commented on #13
That is due to the section name it self has unbalanced parenthesis

[2020-04-25 18:55] shywolf91 commented on #13
any way to fix it?

[2020-04-28 18:32] barakagb commented on #13
Hello @shywolf91 , For your case download / upgrade to v 1.6.3.9.5 .Thanks

[2020-05-01 15:16] PhusionDev opened #17 "Cloudflare Protection"
No matter what I do I get this error. I've upgraded to Python 3.8.2 and openssl is current. I've tried typing in the entire cookie from the header and cookie auth fails as well.

Cloudflare reCaptcha detected, unfortunately you haven't loaded an anti reCaptcha provider correctly via the 'recaptcha' parameter.
Enter cookie instead:

[2020-05-01 15:27] barakagb commented on #17
Hi , you are probably not entering the wrong cookie value. What what's the
cookie variable name you are using?

On Fri, May 1, 2020, 18:16 Jared W. Hodgkins <notifications@github.com>
wrote:

[2020-05-01 15:50] PhusionDev commented on #17
Hello. when I refersh the page and look at the XHR headers for event -> Request Headers -> cookie:

[2020-05-01 15:53] PhusionDev commented on #17
sorry, I found the correct value _session_id=

[2020-05-01 16:26] barakagb commented on #17
That's great @PhusionDev  .

[2020-05-01 16:26] #17 closed

[2020-05-23 01:08] tubaboy5 opened #18 "Key was just a markdown file"
Paid for the key and all I received was a markdown file with the same instructions as the reader file.

I assume that isn’t right.

[2020-05-23 04:51] barakagb commented on #18
Hi @tubaboy5  you should receive an email by now .Kindly check your spam folder too.

[2020-05-23 04:51] #18 closed

[2020-05-25 16:43] jzastoupil opened #19 "Problems Downloading Teachable Course"
I have purchased the course but would like to download it for offline viewing.
Course URL: https://practice.karindimitrovova.com/courses/enrolled/707539
I found the teachable login URL for the course and added it to your if statement
elif "karindimitrovova" in self.course_url:
                    login_url = "https://sso.teachable.com/secure/444933/users/sign_in?flow_school_id=444933"

I am grabbi

[2020-05-25 21:16] baggot4 opened #20 "Cookie authentication failed!"
I ran the program and it did as follows

Cloudflare reCaptcha detected
Enter cookie instead: (i don't know what to put here)
Downloading to :C:\Users\baggot4
Collecting course information ...
Course name : The Complete Node.js Course
Enter your gb-dl license key : key_here
Trying cookie authentication ...
[-] Cookie authentication failed!

[2020-05-25 21:28] #20 closed

[2020-05-25 22:58] baggot4 opened #21 "Videos downloading twice"
When I'm downloading the course the videos download twice so it takes twice as long. One will be the name ex. Start.mp4 and the other will be start-hkjgakfjg.mp4

[2020-05-25 23:52] baggot4 commented on #21
downloading from here [https://codewithmosh.com/courses/enrolled/293204](url)

[2020-05-26 06:00] barakagb commented on #21
Hi @baggot4 , could you provide the screenshot of the script running and the downloaded duplicate files.

[2020-05-26 19:54] baggot4 commented on #21
https://gyazo.com/a654107b2fe78663db49227c9f952d5a
https://gyazo.com/907615ba6aaee4e16691257b7fda1cee

[2020-05-26 21:44] baggot4 commented on #21
the second version starts as a .bin file then after the whole course is finished it turns into a .mp4

[2020-05-28 08:31] barakagb commented on #21
@baggot4 The issue is fixed .Kindly upgrade to v1.6.4.2 (pip install gb-dl -U).
Kindly consider supporting by donating if you haven't. Thanks

[2020-05-28 08:31] #21 closed

[2020-06-11 13:09] tgreenev commented on #19
I was able to get this. I use chrome, and even though it has a bunch of cookies, you have to use **_session_id** and then it will worked. Just tried this.

![image](https://user-images.githubusercontent.com/42524190/84388846-3c7cb680-abc3-11ea-8ccf-0f1bec4e53aa.png)

[2020-06-11 13:11] tgreenev commented on #19
I will add that the downloads have been downloaded as bin files. However, I think I cna whip up a powershell script to rename them if they are all similar. If you remove the dash, random string and .bin, then it still plays.

[2020-06-11 13:51] barakagb commented on #19
Hi @tgreenev , the bin files can be opened with some media player (e.g totem in ubuntu) with no problems. You can simply change the ext from bin to mp4 , in addition after the whole course is downloaded the script automatically changes the extensions to mp4 .

[2020-06-11 13:53] tgreenev commented on #19
The script finished, and didn't not update the files name. No biggie, and I
just used powershell to remove it. I am on Windows by the way.

On Thu, Jun 11, 2020 at 9:51 AM barakagb <notifications@github.com> wrote:

[2020-06-11 13:55] barakagb commented on #19
what version of gb-dl are you using ?

[2020-06-11 13:57] tgreenev commented on #19
1.6.4.2

On Thu, Jun 11, 2020 at 9:56 AM barakagb <notifications@github.com> wrote:

[2020-06-11 14:01] barakagb commented on #19
it should have automatically change ... i will look into it.Thanks

[2020-06-15 10:35] #19 closed

[2020-07-20 17:48] Planks opened #22 "ModuleNotFoundError: No module named 'requests_toolbelt'"
Hi barakagb

I am hoping you can assist me with running this script

Here is my console log with the error on a clean install of python 3.8 and windows 10 64 bit

[code]

[2020-07-20 18:07] barakagb commented on #22
Hi there, try pip install requests-toolbelt.Thanks

On Mon, Jul 20, 2020, 20:48 Planks <notifications@github.com> wrote:

[2020-07-20 18:18] Planks commented on #22
Installed ok

Now a different error

[code]

[2020-07-20 18:31] barakagb commented on #22
pip install cloudscraper

On Mon, Jul 20, 2020, 21:18 Planks <notifications@github.com> wrote:

[2020-07-20 19:28] barakagb commented on #22
Mhh thats strange please trying using py 3.6 and reinstall gb-dl

On Mon, Jul 20, 2020, 21:37 Planks <notifications@github.com> wrote:

[2020-07-21 05:43] barakagb commented on #22
Hi @Planks  issues is  now fixed . Uninstall gb-dl and re-install it.

pip uninstall gb-dl then pip install gb-dl

[2020-07-21 05:43] #22 closed

[2020-07-21 11:47] Planks commented on #22
Are you sure? Reinstalling pulls down the same version,  gb-dl 1.6.4.5, and it has the same error. I don't see any new commits to the repo in https://github.com/barakagb/gb-dl/commits/master

[2020-07-21 14:30] barakagb commented on #22
Yes am sure ... Try it out

On Tue, Jul 21, 2020, 14:48 Planks <notifications@github.com> wrote:

[2020-07-21 14:30] barakagb commented on #22
Uninstall then reinstall.

On Tue, Jul 21, 2020, 17:30 baraka gb <barakagb@gmail.com> wrote:

[2020-07-22 07:37] barakagb commented on #22
Hi @Planks any feedback ?

[2020-07-25 21:39] hapkom2k opened #23 "Error : list index out of range"
Hello
Trying to download course via your  script, but got  Error : list index out of range

[code]

[2020-07-25 22:14] barakagb commented on #23
Hi , please share the url to the course you trying to dowload.

On Sun, Jul 26, 2020, 00:40 hapkom2k <notifications@github.com> wrote:

[2020-07-25 22:15] hapkom2k commented on #23
https://codewithmosh.com/courses/enrolled/417695

[2020-07-26 01:56] hapkom2k commented on #23
i also tryed course at https://academy.zerotomastery.io/courses/enrolled/694968, but got [-] Invalid course URL. error
thats strange, it uses teachable.com as a platform.

[2020-07-26 07:19] barakagb commented on #23
Hi @hapkom2k  ,I have try upgrading the script using pip install gb-dl -U

Here is my output

Course name : Complete Python Mastery
Trying cookie authentication ...
[+] Cookie authentication succeeded
Getting course sections ...
[-] Could not download course image.

[+] Found Section :  1- Getting Started (32m)

[2020-07-26 07:20] barakagb commented on #23
The script was not designed for this . However after upgrading the script you may test if it works.

[2020-07-26 10:20] hapkom2k commented on #23
Unfortunately, it doesn't work

[code]

[2020-07-26 12:23] barakagb commented on #23
try running gb-dl with -i and share the output

[2020-07-26 13:50] hapkom2k commented on #23
outpu is same

[2020-07-26 14:49] barakagb commented on #23
Can you contact me  via email ?

On Sun, Jul 26, 2020, 16:50 hapkom2k <notifications@github.com> wrote:

[2020-07-26 15:02] hapkom2k commented on #23
yea, what is email address?

[2020-07-27 14:18] hapkom2k commented on #23
The problem turned out to be in the connection, when using a VPN the error does not pop up. But another one appears. It's a shame, but the script did not work for me.

[2020-07-27 14:18] #23 closed

[2020-08-10 09:59] joe4n opened #24 "import gb-dl "invalid syntax" (Windows)"
Using Windows command prompt (Win 10 x64, Python 3.8.5, Pip 20.2.1):

[code]
gb-dl is installed, however:
[code]
Any suggestions?  Thank you!

[2020-08-10 11:23] joe4n commented on #24
I am able to execute gb-dl via the compiled python file located here, but this doesn't allow me to pass arguments to it:

C:\Users\xxx\AppData\Local\Programs\Python\Python38-32\Scripts\__pycache__\gb-dl.cpython-38.pyc

[2020-08-10 13:42] barakagb commented on #24
Hi @joe4n ,
 Have you installed gb-dl via pip ? also can you run the script ?

[2020-08-10 13:58] barakagb commented on #24
On windows you should try C:/path/to/script/python gb-dl.py -h check image below for reference.

<img width="543" alt="help" src="https://user-images.githubusercontent.com/30619781/89790353-79fdb180-db2a-11ea-8d32-ba7cbeb1a133.PNG">

[2020-08-10 14:00] joe4n commented on #24
Hi @barakagb

Yes, I installed gb-dl via pip - as illustrated in my original comment.

I get the 'SyntaxError: invalid syntax' error when attempting to run the gd-dl.py script:
[code]
I've tried fixing this by manually adding folders where gb-dl has been installed to PYTHONPATH, but this doesn't make any difference.

[2020-08-10 14:02] joe4n commented on #24
I will experiment with registry fixes.  Thank you!

[2020-08-10 14:18] barakagb commented on #24
You should run gb-dl via command line
gb-dl.py or python gb-dl.py

[2020-08-10 16:48] barakagb commented on #24
@joe4n  have you tried the above ?

[2020-08-13 18:44] sail1369 commented on #24
same issue, installed via conda env, all files are updated,

[2020-08-13 18:50] sail1369 commented on #24
my bad, it worked when i typed gb-dl.py, it opened up in my editor and i ran it from there

[2020-08-13 18:50] sail1369 commented on #24
the site that i need: https://codingfaculty.com/courses/41987/ is not working

[2020-08-13 20:18] barakagb commented on #24
@sail1369  I will try to look onto it.

[2020-08-14 10:20] barakagb commented on #24
Hi @joe4n  I'm closing this issue due to no response from you.

@sail1369  For your concern kindly open an issue  for it if you want and will try and solve it there.

[2020-08-14 10:20] #24 closed

[2020-08-18 17:23] barakagb commented on #24
@sail1369 kindly upgrade gb-dl i've added the site.

pip install gb-dl -U

[2020-08-20 02:36] sail1369 commented on #24
oh cool, thank you soo much!

[2020-08-20 11:20] Siddharth-Selvarajan opened #25 "I dont get any keys"
I don't get keys

Then get your key here: https://bmc.xyz/l/gbdl
N.B key will be sent to your email.

only instruction files received.

[2020-08-20 11:27] barakagb commented on #25
Hi @Siddharth-Selvarajan  ,please check your email inbox and spam . The email linked to you PayPal account.Thanks

[2020-08-20 13:59] Siddharth-Selvarajan commented on #25
fine i got it.

but, Installation error

![image](https://user-images.githubusercontent.com/69203685/90779440-77b20900-e31b-11ea-964f-a6767516cc6f.png)

[2020-08-20 14:29] barakagb commented on #25
Try Pip install gb-dl

On Thu, Aug 20, 2020, 17:00 Siddharth-Selvarajan <notifications@github.com>
wrote:

[2020-08-20 15:33] Siddharth-Selvarajan commented on #25
tried. gb-dl installed. but same problem.

[2020-08-20 18:55] barakagb commented on #25
Please share the screen shot

On Thu, Aug 20, 2020, 18:33 Siddharth-Selvarajan <notifications@github.com>
wrote:

[2020-08-21 00:57] Siddharth-Selvarajan commented on #25
![image](https://user-images.githubusercontent.com/69203685/90840342-639bf500-e377-11ea-908d-784c81afccb6.png)

[2020-08-21 01:46] Siddharth-Selvarajan commented on #25
for windows

![image](https://user-images.githubusercontent.com/69203685/90842983-30109900-e37e-11ea-80a6-b3376804ff04.png)

[2020-08-21 01:54] Siddharth-Selvarajan commented on #25
Now, Working for me. Create Virtual Env. Thank you so much.

[2020-08-21 01:54] #25 closed

[2020-08-21 02:28] Siddharth-Selvarajan opened #26 "browsers.json error"
![image](https://user-images.githubusercontent.com/69203685/90845625-09edf780-e384-11ea-85d8-4fba738bd4ce.png)

[2020-08-21 04:34] barakagb commented on #26
Hi @Siddharth-Selvarajan  , kindly upgrade cfscraper
pip install cfscraper -U

[2020-08-21 05:55] Siddharth-Selvarajan commented on #26
fine solved my problem. thanks, where i get stackskill cookies (which id).

[2020-08-21 06:10] barakagb commented on #26
_session_id

[2020-08-21 06:37] Siddharth-Selvarajan commented on #26
I subscribed codewithmosh, stackskill account. but, I got an error

![image](https://user-images.githubusercontent.com/69203685/90859985-d4a6d100-e3a6-11ea-9fad-8ade23f84de4.png)

[2020-08-21 08:12] barakagb commented on #26
There was a bug ... kindly upgrade gb-dl
pip install gb-dl -U

[2020-08-26 02:20] Siddharth-Selvarajan opened #27 "infosec4tc session login error"
![image](https://user-images.githubusercontent.com/69203685/91247823-ce32a380-e770-11ea-9ce7-582219fde829.png)

[2020-08-26 05:55] barakagb commented on #27
Hi @Siddharth-Selvarajan  .
Issue is fixed kindly upgrade to v.1.6.5.3
pip install gb-dl -U

Thanks

[2020-08-26 06:58] Siddharth-Selvarajan commented on #27
thank you so much

[2020-08-26 07:56] #27 closed

[2020-09-03 03:48] Siddharth-Selvarajan opened #28 "zerotomastery error"
![image](https://user-images.githubusercontent.com/69203685/92069149-53980280-edc6-11ea-9f92-e21bdf73e748.png)

Error in zerotomastery

[2020-09-03 08:56] Siddharth-Selvarajan commented on #28
yes, subscribed to all courses.

[2020-09-03 08:57] barakagb commented on #28
did other courses from zerotomastery download successfully ?

[2020-09-03 09:02] Siddharth-Selvarajan commented on #28
all courses the same error.

[2020-09-03 09:06] barakagb commented on #28
What is the course url on the right of your screenshot (on bin: filezilla konsole) ?

[2020-09-03 09:12] Siddharth-Selvarajan commented on #28
https://academy.zerotomastery.io/courses/enrolled/694968

[2020-09-03 09:26] barakagb commented on #28
so I can say that this course successfully downloaded (as it appears in the screenshot "Download completed") but also you are saying  all courses the same error . Kindly clarify.

[2020-09-03 10:20] Siddharth-Selvarajan commented on #28
same error in windows, all courses verified.

[2020-09-03 10:45] Siddharth-Selvarajan commented on #28
it was working for stackskills, infosec4tc

[2020-09-03 15:20] barakagb commented on #28
Kindly share your cookies via email so I can look into  it .Thanks

[2020-09-04 02:49] Siddharth-Selvarajan commented on #28
mail id plz

[2020-09-04 04:59] barakagb commented on #28
You will find it here
Pip show gb-dl

On Fri, Sep 4, 2020, 05:49 Siddharth-Selvarajan <notifications@github.com>
wrote:

[2020-09-04 05:53] barakagb commented on #28
Hi @Siddharth-Selvarajan  kindly update gb-dl . Issue is fixed.
Thanks

[2020-09-04 07:40] Siddharth-Selvarajan commented on #28
Thank you so much. it's working for me.

[2020-09-04 07:40] #28 closed

[2020-09-07 00:41] Uli-tap opened #29 "Returning"
Trying to download a course from teachable and got the result:

[-] Error : list index out of range

[2020-09-07 01:15] Bretthansenpc opened #30 "Key already in use?"
I'm a little confused I used this once before but now when I tried to get a few more of my courses it asks for my info again including my license key. when I put my key in it show "Activation failed. Key already in use" so what did I do wrong?

[2020-09-07 03:13] Bretthansenpc opened #31 "Asks for Cookie each course"
every time I try to download multiple courses using a file it won't autoload the cookie I saved instead it asks for the cookie each time it goes to a new course. Is that normal? I enter the same one each time and it continues until it's done and starts a new course. anything I can do?

[2020-09-07 03:14] Bretthansenpc commented on #30
i ended up buying a new key so this can be closed it works now

[2020-09-07 03:14] #30 closed

[2020-09-07 04:43] barakagb commented on #31
Hi Bret, how did you save the cookie ? and did you use the cookie auto load argument  "-a"  t?

[2020-09-07 05:06] barakagb commented on #29
Hi @Uli-tap  , am working on a fix .Kindly share your cookie via email so that I can test if it works.

[2020-09-07 06:36] barakagb commented on #29
Hi @Uli-tap  kindly upgrade the script .

[2020-09-07 10:04] Bretthansenpc commented on #31
i saved the cookie using the cookie store argument -b and then yes used the auto load cookie using -a

[2020-09-07 10:29] Bretthansenpc commented on #31
it will autoload the cookie if I don't use a file for multiple courses

[2020-09-07 13:12] barakagb commented on #31
Let me look into it.

On Mon, Sep 7, 2020, 13:29 8BitBrett <notifications@github.com> wrote:

[2020-09-07 17:46] Bretthansenpc commented on #31
im sorry to sound stupid but how do i upgrade? redownload from github?

[2020-09-07 17:57] barakagb commented on #31
Run pip install gb-dl -U

On Mon, Sep 7, 2020, 20:46 8BitBrett <notifications@github.com> wrote:

[2020-09-07 18:03] Bretthansenpc commented on #31
![gbdl 2](https://user-images.githubusercontent.com/39839076/92410669-b9072e80-f0f9-11ea-8436-f0fcec7d3789.jpg)
![gbdl](https://user-images.githubusercontent.com/39839076/92410671-b99fc500-f0f9-11ea-96e8-bc983cb4813d.jpg)

same thing when i dont use the file it works but when use the file it doesnt look for a saved cookie

[2020-09-07 18:07] Bretthansenpc commented on #31
and when its done it asks for a cookie again

[2020-09-07 18:19] barakagb commented on #31
Please share the course file list and cookie via email , so I dive into
it.Thank you.

On Mon, Sep 7, 2020 at 9:07 PM 8BitBrett <notifications@github.com> wrote:

[2020-09-07 19:54] Bretthansenpc commented on #31
ok all updated and working i think haha looks like its working now thank you!

[2020-09-07 19:54] #31 closed

[2020-09-11 18:51] #29 closed

[2020-09-15 01:30] flatlinebb opened #32 "Cookie"
Can you please provide more instructions on how to use the cookie for authentication? What format should the cookie be in? Can
I stack the "-c cookies.txt -b -a" switches in one command?
I keep getting cookie authentication failed, even if I export the cookies from my browser right before trying the script, using the cookies.txt chrome extension. I also visited the course page and verified I can a

[2020-09-15 04:33] barakagb commented on #32
Hi @flatlinebb , kindly note that you only need to extract the value of _session_id from the cookies.(simply copy the value and paste it in txt file then -c FILENAME.txt do not add anything else in the file)
You can use -h for help.

-c will load cookie value from file
-b will store the cookie
-a will autoload the cookie from the stored cookies

so it would make sense to use -c and -b in one comma

[2020-09-15 06:36] flatlinebb commented on #32
Hi,
Thank you so much for your response. I have been trying different variants of adding the value of the _session_id value to the txt file.
From the line (redacted for privacy):
`stackskills.com	FALSE	/	TRUE	16xxxxxxx6	_session_id	xxxxxxxxxxxxxxxxxxxxxxxxxxcb`
I have taken just the value  `xxxxxxxxxxxxxxxxxxxxxxxxxxcb`
and using the command:
`gb-dl.py -c cookie.txt -b -a`
I get the error:
`[-] Er

[2020-09-15 06:51] flatlinebb commented on #32
Well, I have figured out the problem, by searching around the Internet for how programs expect the cookie info to look and found the correct syntax of the cookie.txt file.
It should contain the single line as follows: (again, redacted for privacy)
`_session_id=bxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxb`
Your explanation suggested that only the part after the equal sign was needed, not even mentioning

[2020-09-15 07:51] barakagb commented on #32
I am glad you made it work :) .However the way the script accepts the cookie is only by the cookie value suggesting it worked different for you is something that I have to look into . Kindly share the screenshot of the errors and the course url so I can look into it b'cause it sounds weird to me.

The course file names differ from one course to another ...some courses will have well labeled filena

[2020-09-21 10:05] #32 closed

[2020-09-23 03:46] n08976 opened #33 "Invalid Course URL"
I am getting an error invalid course url for the valid url.
I have a key file in the gb-dl directory, enter my email and pass correctly.
Can you help?

[2020-09-23 03:48] n08976 commented on #33
<img width="620" alt="Screen Shot 2020-09-22 at 11 48 15 PM" src="https://user-images.githubusercontent.com/71745984/93964620-1623f680-fd2e-11ea-9c5c-b24e065e2eef.png">

[2020-09-23 12:23] barakagb commented on #33
Hi @n08976 , kindly upgrade gb-dl using pip install gb-dl -U and try again.

Thanks

[2020-09-23 13:48] n08976 commented on #33
Ok the upgrade worked.
Fails elsewhere with

Collecting course information ...
[-] Error : 'NoneType' object has no attribute 'find'

Also, how can I change the download location?

[2020-09-23 13:49] n08976 commented on #33
<img width="376" alt="Screen Shot 2020-09-23 at 9 49 29 AM" src="https://user-images.githubusercontent.com/71745984/94021510-14841e00-fd82-11ea-8c4d-8523c3d1bc1c.png">

[2020-09-23 14:09] barakagb commented on #33
okay lemme look into that error, I may require you to share cookies via email since I don't have a course there to test , as for the download location simply open gb-dl in the directory you want it to download to.

[2020-09-23 14:14] n08976 commented on #33
ok whatever you need ... just give me instructions on how to get the proper cookie details as that can vary

[2020-09-23 15:06] barakagb commented on #33
Share the one you used to authenticate with gb-dl , share that via email.

On Wed, Sep 23, 2020, 17:14 n08976 <notifications@github.com> wrote:

[2020-09-23 15:22] n08976 commented on #33
sent

[2020-09-23 15:31] barakagb commented on #33
I havent recieved it ..i checked spam box too.
You can get the author email by running pip show gb-dl.

On Wed, Sep 23, 2020, 18:22 n08976 <notifications@github.com> wrote:

[2020-09-23 17:26] barakagb commented on #33
Issue fixed upgrade gb-dl .

Thanks

[2020-09-23 17:30] n08976 commented on #33
upgrade successful ... error on run

users-iMac:gb-dl-master user$ gb-dl.py
/usr/local/Cellar/pyenv/1.2.20/libexec/pyenv-exec: /Users/user/.pyenv/versions/3.7.3/bin/gb-dl.py: /usr/bin/python^M: bad interpreter: No such file or directory
/usr/local/Cellar/pyenv/1.2.20/libexec/pyenv-exec: line 48: /Users/user/.pyenv/versions/3.7.3/bin/gb-dl.py: Undefined error: 0
users-iMac:gb-dl-master user$

Check

[2020-09-23 17:31] n08976 commented on #33
looks like theres an invalid character?
/usr/local/Cellar/pyenv/1.2.20/libexec/pyenv-exec: /Users/user/.pyenv/versions/3.7.3/bin/gb-dl.py: **/usr/bin/python^M**: bad interpreter: No such file or directory

[2020-09-23 17:33] barakagb commented on #33
_____ ____                 _ _
                  / ____|  _ \               | | |
                 | |  __| |_) |  ______    __| | |
                 | | |_ |  _ <  |______|  / _` | |
                 | |__| | |_) |          | (_| | |
                  \_____|____/            \__,_|_|

                                        Version : v1.6.5.8
                            Author  : BarakaGB

[2020-09-23 17:39] barakagb commented on #33
Its working on my side on windows

[2020-09-23 17:51] n08976 commented on #33
ugh i have no idea how to find this issue.

[2020-09-23 17:52] n08976 commented on #33
none of those files contain the dreaded special character ^M

[2020-09-23 18:05] n08976 commented on #33
this is most likely due to the original file created in MSDOS/Windows without UNIX/Linux end of line support

[2020-09-23 18:10] n08976 commented on #33
ok fixed that issue with the following:
open gb-dl in vi and ":set fileformat=unix"
then write and quit

now i get an error:
users-iMac:gb-dl-master user$ gb-dl.py
Traceback (most recent call last):
  File "/Users/user/.pyenv/versions/3.7.3/bin/gb-dl.py", line 14, in <module>
    import cfscraper as scrape
ImportError: No module named cfscraper

cfscraper is installed - ran pip install cfscraper

[2020-09-23 18:20] n08976 commented on #33
users-iMac:gb-dl-master user$ gb-dl.py
Traceback (most recent call last):
  File "/Users/user/.pyenv/versions/3.7.3/bin/gb-dl.py", line 14, in <module>
    import cfscraper as scrape
ImportError: No module named cfscraper

users-iMac:gb-dl-master user$ pip search cfscraper
cfscraper (0.16)  - A Python module to bypass Cloudflare's anti-bot page.
  INSTALLED: 0.16 (latest)

[2020-09-23 18:42] n08976 commented on #33
users-iMac:gb-dl-master user$ pip show cfscrape
Name: cfscrape
Version: 2.1.1
Summary: A simple Python module to bypass Cloudflare's anti-bot page. See https://github.com/Anorov/cloudflare-scrape for more information.
Home-page: https://github.com/Anorov/cloudflare-scrape
Author: Anorov
Author-email: anorov.vorona@gmail.com
License: UNKNOWN
Location: /Users/user/.pyenv/versions/3.7.3/lib/python3.7

[2020-09-23 20:06] n08976 commented on #33
Multiple attempts at reinstalling cfscrape and cfsraper - no luck.

users-iMac:gb-dl-master user$ pip install --upgrade --no-deps --force-reinstall cfscrape
Collecting cfscrape
  Using cached cfscrape-2.1.1-py3-none-any.whl (12 kB)
Installing collected packages: cfscrape
  Attempting uninstall: cfscrape
    Found existing installation: cfscrape 2.1.1
    Uninstalling cfscrape-2.1.1:
      Successf

[2020-09-24 03:59] barakagb commented on #33
I will try to recompile in linux and let you know.

On Wed, Sep 23, 2020, 23:06 n08976 <notifications@github.com> wrote:

[2020-09-24 08:16] barakagb commented on #33
Try upgrading to v1.6.5.9 I compiled in linux (It seems compiling in windows is an issue)]

Thanks.

[2020-09-24 14:17] n08976 commented on #33
Great ... i see you are up to 1.6.6

Seems to be working!

Downloading to :/Users/user/Downloads/gb-dl-master
Collecting course information ...
Course name : Cxxx : High School Edition
Getting course sections ...
Downloading course image ...

[+] Found Section :  THE Cxxx Gxxx (ORIGINAL VIDEO SERIES)

Preparing  lecture 1 of 39 download ...
Starting download ...
[Wistia] m9icn9oasl: Downloading JS

[2020-09-27 07:25] #33 closed

[2020-09-28 09:05] Siddharth-Selvarajan opened #34 "can i use this for Mentorbox"
URL: https://sso.teachable.com/secure/145782/users/sign_in?flow_school_id=145782

[2020-09-28 09:30] barakagb commented on #34
You can try it and let me know. Cheers!!

[2020-09-28 13:14] #34 closed

[2020-10-24 19:02] RobinE opened #35 "Problems with "Sanitizing file names ...""
GB-DL Downloaded a large number of folders and videos from:
stackskills.com/courses/enrolled/623434
into home directory under MacOS.  After the message on terminal "Sanitizing file names ..." things went quiet for a very long time.  Activity Monitor showed Python at 100% CPU, but nothing happening to rename the downloaded .bin files as .mp4.
After 30+ mins (ever hopeful), terminated the terminal s

[2020-10-24 19:17] barakagb commented on #35
Noted . I have not tried the script on a mac before. But i will work on it
and revert back to you soon.

On Sat, Oct 24, 2020, 22:02 RobinE <notifications@github.com> wrote:

[2020-10-24 19:22] RobinE commented on #35
No rush!  I was able to DL the files for offline viewing.  A very useful
utility

On Sat, Oct 24, 2020 at 8:17 PM barakagb <notifications@github.com> wrote:

[2020-10-26 20:03] RobinE commented on #35
I've experimented with the sanitize_file_names function.
Something along the lines of the attached function seems to work fine.
This version is useful for changing file extensions.
I've no idea why the original function seemed to hang...
[test.py.txt](https://github.com/barakagb/gb-dl/files/5441218/test.py.txt)

[2020-10-27 04:49] barakagb commented on #35
Thanks @RobinE for the feedback . Will try and experiment  and upload a revised version.
Cheers!

[2020-11-08 09:58] barakagb commented on #35
Hi @RobinE  , sorry for late feedback I had no access to a computer. I've done some experimenting and noted that sanitation was only done in sub-folders hence if files where in the main course folder they wouldn't be sanitized.

I made a fix and now every thing should work correctly . Kindly upgrade to v1.6.8 using pip install gb-dl -U
Cheers!

[2020-11-08 09:58] #35 closed

[2020-11-09 10:48] RobinE commented on #35
Ca marche!

[2020-11-23 18:03] berndverst opened #36 "Source code missing"
Where is your source code?

I want to inspect the code to ensure it does not send data to third party services.

[2020-11-23 18:06] berndverst commented on #36
Ah I see - you were using youtube-dl!

Well it is safe to put the code out again.

https://www.eff.org/deeplinks/2020/11/github-reinstates-youtube-dl-after-riaas-abuse-dmca

[2020-11-23 19:47] barakagb commented on #36
Hi there , the script doesn't send data to third parties . You can download
the script using pip install gb-dl and get a key after donating to
buymeacoff.ee/barakagb .

Thanks.

On Mon, Nov 23, 2020, 21:06 Bernd Verst <notifications@github.com> wrote:

[2020-11-23 21:25] berndverst commented on #36
@barakagb since you licensed this under the MIT license you cannot revoke the license for your old commits.

So I can just download and use this as the MIT License applies here.
https://github.com/barakagb/gb-dl/tree/7ab871aea3c41d90979bb7a8ea1a0ce6e6dd69e6

If it works I'll still buy you the coffee ;)

[2020-11-24 03:28] barakagb commented on #36
Go ahead and try it out.

On Tue, Nov 24, 2020, 00:25 Bernd Verst <notifications@github.com> wrote:

[2020-11-26 21:31] pianolinux opened #37 "Cookies"
If cookies are a dependency, How do i get cookies into a file? i have already donated fam.

[2020-11-26 21:54] pianolinux commented on #37
Figured it out.. Thanks

[2020-11-26 21:54] #37 closed

[2020-12-03 08:23] #36 closed

[2020-12-03 08:25] berndverst commented on #36
FYI - I was trying to use this for some other courses on teachable, but unfortunately their layout is different and I needed to make several code changes. Got it partially working - but still seemed to have missed some DOM elements leading to videos. Too much work for the time being, and I'm back from my vacation - so no longer need offline access.

[2020-12-03 08:35] barakagb commented on #36
@berndverst  Noted. Please can share the teachable course url so I work on the fix (even though you no longer need the offline access) it might be beneficial to other people .Thanks

[2020-12-03 08:39] berndverst commented on #36
@barakagb https://productionmusiclive.teachable.com/

[2020-12-03 08:49] barakagb commented on #36
Thanks let me see what I can do

[2021-02-18 20:40] kaajjaak opened #38 "Invalid course"
I was trying to download https://iwillteachyoualanguage.teachable.com/courses/650688/
but it is saying invalid course, could you help me fix it, I wanted to try using cookies as well if that helps but I don't really understand how to do that
thanks

[2021-02-19 07:55] barakagb commented on #38
Hi @kaajjaak , i have added the site . An easy way to get the cookie simply logon into the site with firefox (do not sign out) then run gb-dl.py -d firefox  . This willl fetch the cookie from the firefox automatically.

Please try and let me know

[2021-02-19 18:55] kaajjaak commented on #38
okay so it started working but it is only downloading the files but not the text information, in the teachable I am using, there is also useful information under the videos in the form of text, is there a way to download that aswel, like maybe in a txt file.
Also my drive was full while downloading the files, so I deleted some files. it gave some errors but it's unclear if it continued with the fi

[2021-02-19 18:55] kaajjaak commented on #38
also it is downloading the files as a bin instead of a mp4, is that normal?

[2021-02-20 06:07] barakagb commented on #38
Hello,
Usually if u just redownload to the same folder it will only download
skipped files. As for the texts it usually download it misses them. As for
the bin files its normal the after downloading everything the script will
try to convert them to mp4, but you can manually change the extensionn to
mp4.Cheers!!

On Fri, Feb 19, 2021, 21:55 kaajjaak <notifications@github.com> wrote:

[2021-02-25 19:36] barakagb commented on #38
Hi @kaajjaak . Can I close this issue ?

[2021-03-21 16:35] KaydenKhor opened #39 "Can't use the application"
Hey I've donated and got my key.
When i run gb-dl.py it still comes up the initial file.

The download link doesn't have any new scripts.

can someone guide me?

[2021-03-21 16:49] barakagb commented on #39
Hi @KaydenKhor  , please share a screenshot . Have you installed gb-dl using pip install gb-dl ?

[2021-03-21 16:49] #38 closed

[2021-03-21 16:51] KaydenKhor commented on #39
![image](https://user-images.githubusercontent.com/54035957/111913340-a73f1480-8aa8-11eb-8d8f-fc6e615843c2.png)

yes. I've installed and when i type "gb-dl.py" in terminal. it pops out a notepad.

[2021-03-21 16:54] barakagb commented on #39
try python gb-dl.py . If it fails check you env variables to see if python is added.

[2021-03-21 16:56] KaydenKhor commented on #39
python: can't open file 'gb-dl.py': [Errno 2] No such file or directory

This is what i got

[2021-03-21 17:06] KaydenKhor commented on #39
why does it says invalid course url?

[2021-03-21 17:07] barakagb commented on #39
Did you get it to run?
Can you share the course url ?

[2021-03-21 17:08] KaydenKhor commented on #39
learn.xfactormethod.com

[2021-03-21 17:45] KaydenKhor commented on #39
Hello is it possible that your code is not working? sorry.
Because I tried https://instagrizzle.teachable.com/
it says invalid course URL as well @barakagb

[2021-03-21 18:02] barakagb commented on #39
The scripts works.Let me add the two sites and I will let you know soon.

On Sun, Mar 21, 2021, 20:45 KaydenKhor ***@***.***> wrote:

[2021-03-21 18:07] barakagb commented on #39
@Kayden . I have added the sites .Please try to download now and let me know. Thanks

[2021-03-21 18:08] KaydenKhor commented on #39
It says enter cookies instead:

[2021-03-21 18:17] KaydenKhor commented on #39
What do i do when it replies:
[-] Cookie authentication failed!

[2021-03-21 18:21] KaydenKhor commented on #39
@barakagb This is what i got now:

Browser: firefox
Trying cookie authentication ...
[+] Cookie authentication succeeded
[+] Logged in as XXXXXXX
Downloading to :C:\Users\XXXXXXXXXXXXXXXXX\AppData\Local\Programs\Python\Python37-32\Scripts
Collecting course information ...
[-] Error : 'NoneType' object has no attribute 'find'

[2021-03-21 18:22] barakagb commented on #39
Yes so know you need to extract cookies from your browser.An easy way of doing that is log on to the site with Firefox once successful logged in  run gb-dl.py -d firefox it will automatically load the cookies for you.

[2021-03-21 18:23] KaydenKhor commented on #39
@barakagb Why do i get the [-] Error : 'NoneType' object has no attribute 'find'

[2021-03-21 18:24] barakagb commented on #39
It seems the site you are downloading from is a bit different. I will have to update the script for you.On the mean time just try different sites and let me know which do not work.

[2021-03-21 18:31] KaydenKhor commented on #39
I tried both websites, they gave me the same error of
[-] Error : 'NoneType' object has no attribute 'find'

Let me know once the script is updated. Thanks.

[2021-03-22 06:33] KaydenKhor commented on #39
@barakagb Is it done already?

[2021-03-22 08:22] barakagb commented on #39
Yes @KaydenKhor  please upgrade to 1.6.9.1  using pip install gb-dl -U .
![image](https://user-images.githubusercontent.com/30619781/111960468-d84b3380-8b00-11eb-91e3-2f5e0e38837b.png)

[2021-03-22 11:48] KaydenKhor commented on #39
@barakagb It's still not working for both the websites...

[2021-03-22 11:55] KaydenKhor commented on #39
![image](https://user-images.githubusercontent.com/54035957/111986179-904fff00-8b48-11eb-8b30-0eb72ba02b9d.png)

[2021-03-22 12:04] KaydenKhor commented on #39
Could it because of the fact that they link it to their own domain from teachable?

[2021-03-22 12:14] barakagb commented on #39
I have tested it on https://instagrizzle.teachable.com/ and it works . I have not tested it on the  xfactormethod b'se I do not have access to any course there , you can **privately** send me cookies to xfactormethod so that I try to fix it. Thanks.

[2021-03-22 12:18] KaydenKhor commented on #39
@barakagb instagrizzle works fine. What's your email?

[2021-03-22 12:40] barakagb commented on #39
info@gb-dl.cf

[2021-03-22 12:48] KaydenKhor commented on #39
Done.

[2021-03-22 13:11] barakagb commented on #39
Done.!! upgrade to v1.6.9.2 using pip install gb-dl -U . Cheers!!

[2021-03-22 13:16] KaydenKhor commented on #39
Yes it works! Does that mean that if i got any other new URL, I have to inform you to update the URL?

[2021-03-22 13:30] barakagb commented on #39
Different courses have different structures . Some may download others may need updating the script. So if you face that just raise an issue here on github.

[2021-03-22 13:52] KaydenKhor commented on #39
What about all the notes in the specific videos on teachable? is it downloadable?

[2021-03-22 15:52] barakagb commented on #39
Some resources are downloadable some aren't . if you face a challenge
downloading a resource you can just raise a ticket.

On Mon, Mar 22, 2021, 16:53 KaydenKhor ***@***.***> wrote:

[2021-03-22 19:22] #39 closed

[2021-03-26 22:40] dem-ionz opened #40 "Error find?"
_____ ____                 _ _
                  / ____|  _ \               | | |
                 | |  __| |_) |  ______    __| | |
                 | | |_ |  _ <  |______|  / _` | |
                 | |__| | |_) |          | (_| | |
                  \_____|____/            \__,_|_|

           			        Version : v1.6.9.2
                            Author  : BarakaGB

[2021-03-27 05:33] barakagb commented on #40
Hi @dem-ionz  . This is fixed now please upgrade to 1.6.9.2 by running pip install gb-dl -U.Thanks

[2021-03-30 08:59] barakagb commented on #40
@dem-ionz  can I close this issue ?

[2021-04-04 06:11] #40 closed

[2021-04-09 01:15] KaydenKhor opened #41 "Download a specific section of a module"
Is it possible just to download a specific section of a module?

[2021-04-09 09:13] barakagb commented on #41
@KaydenKhor  Yes it is possible  use -
 -s , --section-only   Download only the specified section from the course
  --section-start       Download from specified section in the course
  --section-end         Download up to specified section in the course

[2021-04-10 14:22] weawer opened #42 "Cannot get it to work on teachable site"
Im trying to use gb-dl on calimove.com that uses teachable as a platform which should be the same as the others listed if i understood this correctly. However i keep getting invalid course URL. Tried both from win10 and ubuntu 18/20 on wsl.
Any ideas?

[2021-04-10 14:36] weawer commented on #42
ignore this found the source code can probably figure this out myself

[2021-04-10 14:36] #42 closed

[2021-04-10 14:49] #41 closed

[2021-04-25 18:11] tgreenev opened #43 "Invalid Key"
Hello,

I purchased a key back in June 2020, and now that I am trying to use it again to get more courses, I am getting this error. What's the reason for this?

[2021-04-25 19:23] barakagb commented on #43
@tgreenev  please dm me your key and I check.Thanks.
info@gb-dl.cf

[2021-04-25 19:35] barakagb commented on #43
@tgreenev Sorry for the inconvenience .This has been resolved .Kindly try again.
Cheers!!

[2021-04-26 00:22] tgreenev commented on #43
This is fixed. Thanks!

[2021-04-26 00:22] #43 closed

[2021-05-27 01:34] baggot4 opened #44 "Cannot launch program"
https://gyazo.com/b454cd56db6346c1e384b1051b16ecc8

I opened the cmd in the file path, ran pip install gb-dl.py then ran py gb-dl.py
and this is what shows up. What and i doing wrong?

[2021-05-27 01:48] baggot4 commented on #44
figured it out, but now my  key that i bought in 05/25/2020 isnt working

[2021-05-27 06:31] barakagb commented on #44
Dm the keys at info at gb-dl dot cf

On Thu, May 27, 2021, 04:48 baggot4 ***@***.***> wrote:

[2021-05-27 12:43] baggot4 commented on #44
Can you re-phrase the question?

[2021-05-27 19:40] barakagb commented on #44
@baggot4  try now.

[2021-05-27 21:15] baggot4 commented on #44
it worked but how do i load urls from a file when i run gb-dl.py -f it says
this "gb-dl: error: argument -f/--file: expected one argument"

On Thu, May 27, 2021 at 2:40 PM barakagb ***@***.***> wrote:

[2021-05-27 21:20] barakagb commented on #44
have you specified the file name with the urls ?
e.g gb-dl.py -f url.txt

[2021-05-27 21:21] baggot4 commented on #44
yes i did, "gb-dl.py -f url.txt" same error

On Thu, May 27, 2021 at 4:20 PM barakagb ***@***.***> wrote:

[2021-05-27 21:22] barakagb commented on #44
can you share a screen shot

[2021-05-27 22:04] baggot4 commented on #44
Here is the link (sorry for the name, my friend gave me a pays.host access
for free so thats all i have to screenshot)
https://i-hate.transgenders.gay/wBGV6PQs

On Thu, May 27, 2021 at 4:23 PM barakagb ***@***.***> wrote:

[2021-05-28 06:51] barakagb commented on #44
![Capture](https://user-images.githubusercontent.com/30619781/119942065-1437c480-bf9a-11eb-8e75-561db51636e8.PNG)

@baggot4  please check that you are pointing to an existing file .
I have tried it and it works for me.

[2021-05-30 02:53] baggot4 commented on #44
I got it to work, needed the whole path. ANother question, how do i change
the download location, it is currently downloading on my c drive i need it
on my d drive

On Fri, May 28, 2021 at 1:52 AM barakagb ***@***.***> wrote:

[2021-05-30 14:04] barakagb commented on #44
The script downloads courses to the current working directory . So if you want to download in D:\  cd D:\  then run gb-dl from there.

[2021-05-31 02:24] baggot4 commented on #44
i tried that, now i am in the correct folder when i try to give a path to
the url.txt it says "not  a valid path d:\\gb-dl\\urls.txt"          when
the command i entered was              "gb-dl.py -f d:\gb-dl\urls.txt"

On Sun, May 30, 2021 at 9:05 AM barakagb ***@***.***> wrote:

[2021-05-31 09:43] barakagb commented on #44
@baggot4 . I have tried and it works for me (see image). Could you share a screen shot.
![Screenshot_2021-05-31_12-44-50](https://user-images.githubusercontent.com/30619781/120174451-c925e780-c20d-11eb-94a7-bd1b87cee3a0.png)

[2021-06-13 15:30] barakagb commented on #44
@baggot4  is there any update on this ?

[2021-06-14 14:25] c0depanda opened #45 "Can't Run Program"
Not sure what i am doing wrong but i can't seem to get this up and running.

I have installed using pip install gb-dl

That's done but anytime i run

`gb-dl.py` command not found: gb-dl. So not sure what else i need to do to get it working.

[2021-06-14 16:06] barakagb commented on #45
You need to check your environment variables.
Is python in your env variables?
What Os are you using?

On Mon, Jun 14, 2021, 17:26 Nosa Obaseki ***@***.***> wrote:

[2021-06-15 11:40] barakagb commented on #45
@c0depanda and feedback on the above ?

[2021-06-15 11:50] #44 closed

[2021-06-27 18:34] #45 closed

[2021-07-05 00:17] 3l3phant opened #46 "reCaptcha Cookie question"
When trying to launch and authenticate into StackSkills I'm getting the message that it's detecting the Cloudflare reCaptcha. Which cookie content should I provide? From the session ID? Also, is there a way to configure where the files are downloaded? If not (which is not a problem :)) what is the default location? Thank you!

**UPDATE**: I decided to use the -d and grabbed the .sqlite cookie file

[2021-07-05 04:54] barakagb commented on #46
Hi,
Use the session_id for cookie.The script downloads files in the current
working folder.So simply navigate to where you want to download the files
and run gb-dl.
Thanks

On Mon, Jul 5, 2021, 03:17 Jesse R. ***@***.***> wrote:

[2021-07-08 15:22] Amolkulkarni2 opened #47 "Unable to run"
Hello there,
I am having windwos 10 system.
I have anaconda on system. from Jyupeter note book I have installed gb-dl  "!pip install gb-dl"
now I am not sure how can I run this file.
I tried to run this file from cmd prompt but I ti showing unrecognised file.
Can oyu please explain step by step how can I run this.

Thanks in advance.

[2021-07-08 16:02] Amolkulkarni2 commented on #25
Hi @Siddharth-Selvarajan :can you please guide me how to install it on windows?  my email id : amolkulkarni.2@gmail.com

[2021-07-08 16:12] Amolkulkarni2 commented on #47
when i run  gb-dl.py on cmd prompt . it is opening .py file in notpad

[2021-07-08 19:38] barakagb commented on #47
Hi @Amolkulkarni2  ,  you should have python3 installed and set  your path variables.
Then open cmd or powershell and
1. pip install gb-dl
2. run gb-dl.py

[2021-07-08 19:39] barakagb commented on #46
@3l3phant , I will add the feature in the next release. Thanks

[2021-07-08 19:39] #46 closed

[2021-07-09 05:33] Amolkulkarni2 commented on #47
Hi ,I have installed python version 3.8.5
I am getting following error

![senttogbdl](https://user-images.githubusercontent.com/42038526/125028238-511cce00-e0a5-11eb-87e4-414ac6a6c7f5.PNG)

[2021-07-09 05:41] Amolkulkarni2 commented on #47
![image](https://user-images.githubusercontent.com/42038526/125028924-74944880-e0a6-11eb-8b4f-fda3d27c25ba.png)

[2021-07-09 07:27] barakagb commented on #47
Just type gb-dl.py to run it.
Not run gb-dl.py

On Fri, Jul 9, 2021, 08:34 Amolkulkarni2 ***@***.***> wrote:

[2021-07-09 08:04] Amolkulkarni2 commented on #47
When I just typed gb-dl.py .
It asked me to open file option . I opened in notepad .
![image](https://user-images.githubusercontent.com/42038526/125045279-71a35300-e0ba-11eb-9a30-b81ef9c08b81.png)

[2021-07-09 08:05] Amolkulkarni2 commented on #47
I got a key but where shall I put it?

[2021-07-09 08:52] barakagb commented on #47
Thats unusual it usually works that way. Try python gb-dl.py

[2021-07-09 11:19] Amolkulkarni2 commented on #47
Awh ok .. let me try again but I already tried that way too .

On Fri, 9 Jul 2021 at 2:22 PM, barakagb ***@***.***> wrote:

--

Kind regards,

Amol Kulkarni

[2021-07-09 12:59] Amolkulkarni2 commented on #47
I have tried this ..
See background folder has that *.py file.
but getting error message .

![image](https://user-images.githubusercontent.com/42038526/125081415-9b24a480-e0e3-11eb-9df9-30404291b7bb.png)

[2021-07-09 13:10] Amolkulkarni2 commented on #47
just a note @barakagb  ,I wont having access to laptop over a weekend so I will test it or respond on monday :)

[2021-07-12 08:20] Amolkulkarni2 commented on #47
Hi @barakagb can you please tell me?

[2021-07-12 16:29] barakagb commented on #47
Hi @Amolkulkarni2 , please try the below
This happened because most probably you have set notepad as the default program to open a .py file. Go to default programs app in windows. Select choose app by extension. Here search for .py files. Change the option from notepad to python. This should solve your problem.

Reference:https://stackoverflow.com/questions/15121714/how-do-i-get-a-python-program-t

[2021-07-13 03:25] Amolkulkarni2 commented on #47
@barakagb  okay ..Let try it today and will let you know.

[2021-07-13 06:53] Amolkulkarni2 commented on #47
@barakagb  i tried what you said.. but still it is opening a window select where to open .. it doesn't have option to open in py

[2021-07-13 10:40] Amolkulkarni2 commented on #47
Thanks @barakagb  .
I am able to login but now gettting following error
![image](https://user-images.githubusercontent.com/42038526/125438489-eaa3038e-f665-4f29-abf8-a5422ba219f0.png)

[2021-07-13 13:08] barakagb commented on #47
@Amolkulkarni2  try again.

[2021-07-13 17:28] Amolkulkarni2 commented on #47
Trying..
When it ask for cookies
Enter course url : https://financial-confidence-hub1.teachable.com/courses/enrolled/729919
Email : amolkulkarni.2@gmail.com
Password :
Trying to Login ...
Enter cookie instead:

**I downloaed cookies using get cookies txt extension for Chrome.**
It says authenticating cookies and then window get disappear.

[2021-07-13 17:40] Amolkulkarni2 commented on #47
also @barakagb  I got two keys so which will be valid?
shall I share key with you  ?

[2021-07-14 06:08] barakagb commented on #47
For the keys use the any the other will be decommissioned.

For the cookie is way easier to use firefox.Log on to the course in firefox then  run gb-dl -d firefox . This will load the cookies automatically, else use the value of _session_id .

[2021-07-14 11:20] Amolkulkarni2 commented on #47
@barakagb  :  Thank you so much for your help and sorry if I am doing silly mistakes  :(
Now I have installed Mozzila firefox .
On power shell I am writing a command as below =>
![image](https://user-images.githubusercontent.com/42038526/125613449-8cbb73a4-3a0a-49b5-931a-ea508e4d31d5.png)

after hitting enter it opend py file .
still It is asking for cookie instead
![image](https://user-images.git

[2021-07-14 12:17] barakagb commented on #47
I think the window disappears after the script has  completed or stopped. Try using using cmd and not powershell.

[2021-07-14 13:40] Amolkulkarni2 commented on #47
Ok, Just tried using command prompt and getting following error
![image](https://user-images.githubusercontent.com/42038526/125631935-0ec06d2c-077f-4056-a708-a3aff2cda8b2.png)

[2021-07-14 17:29] barakagb commented on #47
I need to have a look at that please send me the cookie at info[at]gb-dl.cf
so I can check it out.

[2021-07-14 17:44] Amolkulkarni2 commented on #47
I have sent you cookie file.

[2021-07-14 18:08] barakagb commented on #47
I  haven't received it yet. Have you checked your outbox ?

[2021-07-15 09:07] Amolkulkarni2 commented on #47
Okay.

[2021-07-15 14:35] barakagb commented on #47
@Amolkulkarni2  the issue is now fixed. Upgrade gb-dl by running "pip install gb-dl -U" without the quotes .

![image](https://user-images.githubusercontent.com/30619781/125806243-15000944-71ef-44d0-b78a-fff49b47af7d.png)

[2021-07-15 15:01] Amolkulkarni2 commented on #47
Wowwww @barakagb  you are a *STARRR*
Thank you , It is working :)

[2021-07-15 15:14] Amolkulkarni2 commented on #47
@barakagb One question ...
is it possible to download from this site ?
https://powerbiexperiencecourse.club.hotmart.com/lesson/o4E060NmOz/welcome-to-a-new-experience

[2021-07-15 17:57] barakagb commented on #47
Currently no, may be in the future.

[2021-07-15 18:45] Amolkulkarni2 commented on #47
Okay, @barakagb  Thank you .

[2021-08-02 14:21] #47 closed

[2021-09-23 16:35] z3ru opened #48 "I always get [-] Error : Connection failed . Check your internet connection and try again!"
Hi Baraka,
No matter what i do, i always get connection failed error.
![imagen](https://user-images.githubusercontent.com/12041073/134547729-7dbca2a7-914c-4cc1-a195-6c1da9884d60.png)

I tried with python3 gb-dl.py -d firefox  (for cookies) and python3 gb-dl.py (to attempt normal login) but neither work. I-m trying to do it with campus.neetwork.com

Also, i paid for the key but i never recieved it

[2021-09-24 09:25] barakagb commented on #48
Hi @z3ru , the above issue has now been fixed.
Kindly upgrade to 1.7.3 using pip install gb-dl -U ,
Your key should have now been sent to you.

[2021-10-19 13:59] gohrobingo opened #49 "Invalid Key"
Hi, I purchased a license key last year but now it shows me error "Invalid Key"

[2021-10-21 05:21] gohrobingo commented on #49
Thanks. That fixed the issue. But now it gave me the following error:

`Enter course url : **masked**
Email : **masked**
Password :
Trying to Login ...
Cloudflare reCaptcha detected
Enter cookie instead: **(input the content for _session_id)
Enter sk_g8lz6rb6_access instead: ***(input the content for sk_g8lz6rb6_access)
Trying cookie authentication ...
[-] Error : [Errno 2] No such file or directo

[2021-10-21 08:18] gohrobingo commented on #49
Thanks. It's working now

[2021-10-21 08:19] #49 closed, assigned to nobody

[2021-10-24 16:04] anne-urysm opened #50 "«Invalid course URL»"
Hi Barakagb,

I’m struggling to use the script to backup some courses at the Teachable-based site https://www.shibariclasses.com/ .

If I understand correctly looking at previous issues, the site needs to be manually added somewhere. Is it possible for you to add it?

Thanks

[2021-11-24 11:16] scottarnold opened #51 "No key after purchase"
I purchased a license and never received a key to my email. I _did_ get an email, but it only contained a link to the README. (I checked spam to no avail 😢).

Please advise, thanks!

[2021-11-24 11:28] scottarnold commented on #51
The email came ~45min after purchase. Thank you!

[2021-11-24 11:28] #51 closed

[2021-11-24 11:29] barakagb commented on #51
sorry for the the key delay. It usually takes like a minute or so am looking on to it to see what was the problem.

[2021-11-27 10:22] LienCF opened #52 "No key after purchase"
I purchased a license today. It have been 2 hours and I only received a link to the read me file.
No license key received. How do I get the license key?

[2021-11-27 16:37] barakagb commented on #52
Hi @LienCF, sorry for the inconvenience. It seems there was a problem with sending the key. Kindly check your inbox it should be there now.

[2021-11-28 00:46] LienCF commented on #52
@barakagb Thanks. I received the Key.

[2021-11-28 00:46] #52 closed

[2021-11-28 16:53] tdenizen opened #53 "Invalid course URL for https://learndataengineering.com/courses"
Hi I'm getting an invalid course url for site https://learndataengineering.com

[2021-11-28 17:34] barakagb commented on #53
Fixed. Kindly retry.

[2021-12-01 18:20] jin-ds opened #54 "Invalid course URL error for "https://serpentine-studies.teachable.com/courses""
Hi there,

I'm also getting an error for a course on URL:

https://serpentine-studies.teachable.com/courses

Thanks!

[2021-12-01 18:22] jin-ds opened #55 "Invalid course URL error for "https://navadance.teachable.com/courses""
Hi there,

I have the invalid course URL error for the course on link:

https://navadance.teachable.com/courses/enrolled/834057

Thanks!

[2021-12-01 19:39] revmwv opened #56 "Usage"
I am missing something as I cannot figure out how to use this. During installation, I got a message in the terminal saying something about needing to permanently add a directory to PYTHONPATH? But I am obviously missing something very basic, and I apologize. Is there a more detailed set of installation instructions or "for dummies" version?

[2021-12-01 19:48] barakagb commented on #56
What os are you using ?

On Wed, Dec 1, 2021, 22:39 RevM ***@***.***> wrote:

[2021-12-01 19:53] revmwv commented on #56
Ubuntu 21.10

I figured out how to run the script (sorry, long day) but when I tried to
download with it I had the following:

Enter course url : https://stackskills.com/courses/enrolled/582317
Email : ***@***.***
Password :
Trying to Login ...
Enter your gb-dl license key :6-------------------
Cloudflare reCaptcha detected
Enter cookie instead:

Not sure what to enter for cookie...
--
God's Bless

[2021-12-01 20:02] barakagb commented on #56
The easiest way is to logging to the firefox browser then run the script
"gb-dl.py -d firefox" this will automatically load the cookies for you.
Currently only firefox is supported.

On Wed, Dec 1, 2021, 22:53 RevM ***@***.***> wrote:

[2021-12-01 23:58] revmwv commented on #56
This is what I get:

Enter course url : https://stackskills.com/courses/enrolled/582317
Browser: firefox
'NoneType' object is not subscriptable
[-] Error: Could not find cookies. Try entering cookies manually
Enter cookie instead: ahoy_visitor=881b9e68-b06d-4af0-a9d5-9e169dee87d2;
_afid=881b9e68-b06d-4af0-a9d5-9e169dee87d2;
aid=881b9e68-b06d-4af0-a9d5-9e169dee87d2;
ajs_anonymous_id=%22e3ef7fa0-020

[2021-12-02 00:01] revmwv commented on #56
Guess not, this is what I get when I tried that:

Enter course url : https://stackskills.com/courses/enrolled/582317
Browser: firefox
'NoneType' object is not subscriptable
[-] Error: Could not find cookies. Try entering cookies manually
Enter cookie instead: ahoy_visitor=881b9e68-b06d-4af0-a9d5-9e169dee87d2;
_afid=881b9e68-b06d-4af0-a9d5-9e169dee87d2;
aid=881b9e68-b06d-4af0-a9d5-9e169dee87d2;
ajs

[2021-12-02 01:58] LienCF opened #57 "Could not contact remote server"
When I tried to download courses today, it shows Could not contact remote server.
It seems that it can not connect to the "_schools_url = 'https://venvgb.cf/l/'"

[code]

[2021-12-02 04:47] barakagb commented on #57
Kindly upgrade gb-dl by running pip install gb-dl -U.
Thanks & Regards

On Thu, Dec 2, 2021, 04:59 LienCF ***@***.***> wrote:

[2021-12-02 04:54] LienCF commented on #57
Thank you very much. It works again after update.

[2021-12-02 04:54] #57 closed

[2021-12-02 04:55] barakagb commented on #56
@revmwv  that seems odd ..I just checked and it seems to be working see the image below.
![image](https://user-images.githubusercontent.com/30619781/144360225-c4af1953-b039-419f-ac0b-a55d82f3bac4.png)

1. Did you log in first to firefox? and the run the script ?
2. What OS are you using ?
3

p.s sorry for the inconvenience you are facing I will assist you until it works.

[2021-12-02 04:57] #50 closed

[2021-12-02 04:57] #53 closed

[2021-12-02 06:23] barakagb commented on #54
Fixed.

[2021-12-02 06:23] barakagb commented on #55
fixed.

[2021-12-02 09:05] jin-ds commented on #55
Thanks for taking a look!

I'm getting this error now:

`[-] Could not contact remote server.`

Let me know if more info is needed!

[2021-12-02 09:05] jin-ds commented on #54
Thanks for taking a look!

I'm getting this error now:

`[-] Could not contact remote server.`

Let me know if more info is needed!

[2021-12-02 09:26] barakagb commented on #55
kindly upgrade gb-dl , run pip install gb-dl -U

On Thu, Dec 2, 2021 at 12:05 PM jin-ds ***@***.***> wrote:

[2021-12-02 16:12] jin-ds commented on #54
That did the trick, thanks so much!

I would, however, suggest adding in the documentation to first use that command, then log into the course with Firefox and then run the `gb-dl.py -d firefox` command, as that seems to be doing the trick (after the invalid-course-url error was resolved). Thanks!

Feel free to close this one out!

[2021-12-02 16:12] jin-ds commented on #55
That did the trick, thanks so much!

I would, however, suggest adding in the documentation to first use that command, then log into the course with Firefox and then run the `gb-dl.py -d firefox` command, as that seems to be doing the trick (after the invalid-course-url error was resolved). Thanks!

Feel free to close this one out!

[2021-12-03 01:14] revmwv commented on #56
1. Yes, but I am running the SNAP version of Firefox (maybe that is part of
the problem?)
2. Ubuntu 21.10

No need to apologize! I really appreciate your willingness to help me with
this!

--

*RevM*

[2021-12-03 05:09] #54 closed

[2021-12-03 05:09] #55 closed

[2021-12-03 05:30] barakagb commented on #56
@revmwv It seems your right the script does not work with firefox snap version.
I have sent you the instruction in your email on how you can use the script.
Thanks

[2021-12-03 18:59] ICDeadPpl opened #58 "No key after purchase"
How long will it take to get the key? It's been 10 minutes, and I only got an email with a link to a file (gb-dl_key_instruction.md) which didn't contain any key, just the same instructions as on the Github page.
I have nothing in my span folder either.

[2021-12-04 01:17] ICDeadPpl commented on #58
Almost 8 hours later, no key. Going to start a refund process.
Nice thing you've got going here...

[2021-12-04 05:13] barakagb commented on #58
Hi @ICDeadPpl sorry for the inconviniece . It seems there was a problem with emailiing the keys I have to manually generate and send you one. Kindly check your inbox in a few minutes.Thanks

[2021-12-04 05:17] barakagb commented on #58
@ICDeadPpl  Kindly note that the key has already been sent to your email.
Once again my apologies for the inconvenience. This is also due time difference, would have sent it earlier.

Thanks

[2021-12-05 12:30] barakagb commented on #56
@revmwv I added support for firefox snap upgrade gb-dl by running pip3 install gb-dl -U .
to use firefox snap run
gb-dl.py -d firefox-snap.

[2021-12-06 02:58] LienCF opened #59 "503 Service Unavailable"
When running gb-dl.py to download, it shows the following message and not able to process.

HTTPSConnectionPool(host='venvgb.cf', port=443): Max retries exceeded with url: /l/ (Caused by ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 503 Service Unavailable')))

[2021-12-06 08:22] barakagb commented on #59
Working on it ...

[2021-12-07 11:47] barakagb commented on #59
@LienCF  this has been fixed. Kindly confirm.

[2021-12-07 11:47] #58 closed

[2021-12-07 11:48] barakagb commented on #56
@revmwv any  feedback on this ?

[2021-12-07 13:49] LienCF commented on #59
@barakagb Thanks. I can confirm that it works again.

[2021-12-07 13:49] #59 closed

[2021-12-07 15:08] revmwv commented on #56
I am still getting this:

Enter course url : https://stackskills.com/courses/enrolled/582317
Browser: firefox
'NoneType' object is not subscriptable
[-] Error: Could not find cookies. Try entering cookies manually
Enter cookie instead: 11184b72fa80e4886183a66cb1ca70c5
Trying cookie authentication ...
[-] Cookie authentication failed!

But that is with the Flatpak version, not SNAP. Let me try swit

[2021-12-07 15:39] revmwv commented on #56
Okay I switched to the SNAP version of Firefox and got this:

 Author  : BarakaGB
                                        Visit   :
https://github.com/barakagb/gb-dl
                                        Donation:
https://www.ko-fi.com/barakagb
                                        Key     :
https://ko-fi.com/s/58928b832d

    A python based utility to download courses from infosec4tc.teachabl

[2021-12-07 15:58] barakagb commented on #56
I notice that you used -d firefox instead of d -firefox-snap.
Also make sure you are running the latest version by runing pip install
gb-dl -U

On Tue, Dec 7, 2021, 18:39 RevM ***@***.***> wrote:

[2021-12-07 16:12] revmwv commented on #56
Sorry...brain is fried...here is what it did this time:

Enter course url : https://stackskills.com/courses/enrolled/582317
Browser: firefox-snap
cp: cannot stat
'/home/revm/snap/firefox/common/.mozilla/firefox/*.default/cookies.sqlite':
No such file or directory
'NoneType' object is not subscriptable
[-] Error: Could not find cookies. Try entering cookies manually
Enter cookie instead: 39b2db30a5

[2021-12-07 18:50] barakagb commented on #56
Please email me the script of the full out put. Dont post it here and ill
see how I can fix it.

On Tue, Dec 7, 2021, 19:12 RevM ***@***.***> wrote:

[2021-12-07 18:53] barakagb commented on #56
Sorry i meant the screenshot of all the output.

On Tue, Dec 7, 2021, 21:49 Baraka ***@***.***> wrote:

[2021-12-08 02:28] revmwv commented on #56
Like this?

--
God's Blessings,

*RevM*
He | Him | His [Why pronouns matter
<https://www.mypronouns.org/what-and-why>]

Reverend Michael W. Vollmer

Clinton <https://clintonunitedmethodist.org/> & Stony Creek
<http://www.stonycreekumc.org/> United Methodist Churches

***@***.***

(989) 600-6148

On Tue, Dec 7, 2021 at 1:53 PM barakagb ***@***.***> wrote:

[2021-12-08 02:44] revmwv commented on #56
Also, just to see if it mattered, I tried running it again with SUDO and
got the following:

sudo python3 /home/revm/.local/bin/gb-dl.py -d firefox-snapTraceback (most
recent call last):
  File "/home/revm/.local/bin/gb-dl.py", line 17, in <module>
    import cloudscraper as scrape
ModuleNotFoundError: No module named 'cloudscraper'

--
God's Blessings,

*RevM*
He | Him | His [Why pronouns matter

[2021-12-08 04:38] barakagb commented on #56
@revmwv I dont see the screenshot attached.

[2021-12-11 16:08] barakagb commented on #56
@revmwv Is there any feedback on the above? I have tried to replicate your situation in a new ubuntu installation using snap and it worked for me. A quick workaround for you is to install the official firefox.

[2021-12-11 17:31] revmwv commented on #56
Okay after fighting with Ubuntu for a bit, I finally got the regular APT
version of Ubuntu installed and your script is now running perfectly! It
found the cookie on its own and everything. Thank you so much for your
patience and assistance with this. I hope you are well and have a happy
holidays!

--
God's Blessings,

*RevM*
He | Him | His [Why pronouns matter
<https://www.mypronouns.org/what-and

[2021-12-11 17:56] #56 closed

[2021-12-24 21:27] lxxiv opened #60 "Invalid Course URL For https://growyouragency.teachable.com/courses/enrolled/632756"

[2021-12-25 04:12] barakagb commented on #60
@lxxiv fixed. Please try again.

[2021-12-25 07:30] lxxiv commented on #60
I get this issue now. Any idea on how to solve it
<img width="567" alt="Screen Shot 2021-12-25 at 8 29 59 AM" src="https://user-images.githubusercontent.com/60582320/147379979-22ec82d0-c6de-424f-b2e6-3cefe6d248d2.png">
?

[2021-12-25 19:32] barakagb commented on #60
What os are you using?

On Sat, Dec 25, 2021, 10:30 lxxiv ***@***.***> wrote:

[2021-12-25 20:09] lxxiv commented on #60
Mac OS
On 25 Dec 2021, 8:32 PM +0100, barakagb ***@***.***>, wrote:

[2021-12-26 10:39] barakagb commented on #60
You can try entering the cookies manually

On Sat, Dec 25, 2021, 23:09 lxxiv ***@***.***> wrote:

[2021-12-26 17:00] lxxiv commented on #60
How do I do that?
On Dec 26, 2021, 11:39 AM +0100, barakagb ***@***.***>, wrote:

[2021-12-26 17:06] barakagb commented on #60
You can try entering the cookies manually
What version of gb-dl are running ? Please share the full screenshot ommitting your private info.
Thanks

[2021-12-31 02:39] LienCF opened #61 "Can not download courses that have '/' in the course name"
I'm downloading course with ubuntu os. The '/' is not allowed in filename or path name, so it's not able to create folder for this course.

Downloading https://stackskills.com/courses/enrolled/86723
 ...
Trying to Login ...
Cloudflare reCaptcha detected
Trying cookie authentication ...
cp: cannot stat '/home/liencf/.mozilla/firefox/*.default*/sessionstore-backups/*.jsonlz4': No such file or direct

[2022-01-09 10:01] barakagb commented on #60
@lxxiv any feedback on this ?

[2022-01-09 10:16] barakagb commented on #61
@LienCF I need cookies to the course so I can try to fix it. I have tried some courses with invalid folder name characters and seems to work fine. Please share the cookies privately.Thanks

[2022-01-10 04:47] LienCF commented on #61
@barakagb Are you testing on Windows or Linux? What is the name of the folder you are trying to reproduce the issue in? And what's the folder created?

If you try to create a folder named "Outsource your idea Launch your business for 1/4 the price" in Ubuntu or any other linux system, you should be able to reproduce the problem.

[2022-01-10 18:33] barakagb commented on #61
I faced a similar problem wayback and implemented the solution that seems
not to be working in your case.Thats why I requested for cookies. I will be
harder for me to fix if I cant replicate the problem.

On Mon, Jan 10, 2022, 07:47 LienCF ***@***.***> wrote:

[2022-01-11 02:41] LienCF commented on #61
@barakagb Thanks. How do I send private message to you?

[2022-01-11 03:11] LienCF commented on #61
@barakagb The cookie is.
"https://stackskills.com": "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJ1c2VyIiwiaWF0IjoxNjM4MDYwODQ0LCJqdGkiOiJjYzFiYWIwOC05NjE1LTRiNDMtYjk3Yi1jZmY3MTI5ZDJkMTIiLCJpc3MiOiJza19nOGx6NnJiNiIsInN1YiI6ImQ1NzA3NWI4LTY5NmYtNGRmZC1iMGZhLWM3Nzg3MTYxMjEyOCJ9.1taL5dVam0i2vJ-05WaU0wNyLKwYXPsKuAWMsBtTm-Q"

[2022-01-11 04:41] barakagb commented on #61
Yes, I have received the cookies. Let me work on a fix

[2022-01-12 07:02] barakagb commented on #61
@LienCF you sent the wrong cookie, the authentication failed . However, I think I have a solution.
Upgrade gb-dl wit pip3 install gb-dl -U

[2022-01-12 07:03] #60 closed

[2022-01-12 07:29] LienCF commented on #61
@barakagb Yes. Updated gb-dl.py and it worked.
And strangely enough, the cookieis working for me. I just tried this course and I can log in successfully with a cookie.
However, there is another problem with this course, which is that it is not available for download.

Downloading https://stackskills.com/courses/enrolled/69490
 ...
Trying to Login ...
Cloudflare reCaptcha detected
Trying cookie aut

[2022-01-12 16:23] barakagb commented on #61
I need also cookies to this, share the _session_id and sk_access_* values .

[2022-01-13 02:06] LienCF commented on #61
@barakagb The session_id is 7bec31f144739e64282113488421e20c and the sk_g8lz6rb6_access is eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJ1c2VyIiwiaWF0IjoxNjQyMDM2MTg5LCJqdGkiOiJkMmFhNWQ2OS0wZWUyLTQ3NTMtODNhOS00OWQ2ZGYwNjViNmEiLCJpc3MiOiJza19nOGx6NnJiNiIsInN1YiI6ImQ1NzA3NWI4LTY5NmYtNGRmZC1iMGZhLWM3Nzg3MTYxMjEyOCJ9.D0PLb0ioSARNJOLUHxzn8692hcBEQSmDX636veWi33o

[2022-01-18 11:23] LienCF commented on #61
Hi @barakagb , did you received the new cookie? And how about the issue?

[2022-01-18 12:55] barakagb commented on #61
No, I did not. You can share via email.

On Tue, Jan 18, 2022, 14:23 LienCF ***@***.***> wrote:

[2022-01-18 13:10] LienCF commented on #61
@barakagb The _session_id is 7bec31f144739e64282113488421e20c
The sk_g8lz6rb6_access is eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJ1c2VyIiwiaWF0IjoxNjQyNTExMzA3LCJqdGkiOiJlZTRmZWJjNC0yYmFmLTRjNGItYTI3MC03MWRiNTQ2Njc2OTQiLCJpc3MiOiJza19nOGx6NnJiNiIsInN1YiI6ImQ1NzA3NWI4LTY5NmYtNGRmZC1iMGZhLWM3Nzg3MTYxMjEyOCJ9.KEJHe2dTZ6YmHQbdi8bqNQthS5PJvV7ibFM4juvA2ak

[2022-01-18 13:19] barakagb commented on #61
Recived

[2022-01-18 13:28] barakagb commented on #61
Doesnt seem to work

[2022-01-18 13:30] LienCF commented on #61
It's weird. I just copy the cookie value from my firefox. Let me logout and login and give you the cookie again.

[2022-01-18 13:32] LienCF commented on #61
The _session_id is 7bec31f144739e64282113488421e20c
The sk_g8lz6rb6_access is eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJ1c2VyIiwiaWF0IjoxNjQyNTEyNzA4LCJqdGkiOiI2ZDkwYWRkZi1kMWFjLTQxYjctOTUzNi1iN2YzZjFiNDcxMGMiLCJpc3MiOiJza19nOGx6NnJiNiIsInN1YiI6Ijc5ZDViZDdmLTA4YmUtNDc4NC04MjViLWI2MTVkNjdiMTU2MiJ9.a1yBL9SQnDkt1feH70aDeULE-OIENLCxgo3YuXO9zdc

[2022-01-18 15:08] barakagb commented on #61
Yes...let me work on a fix!

[2022-01-18 19:57] barakagb commented on #61
Fixed! upgrade to the latest version.

[2022-01-19 14:28] LienCF commented on #61
@barakagb After upgrade gb-dl, I can not login with cookie anymore.
What should I input when prompt to enter cookie ? "Enter cookie instead:"
Is it the value of "sk_g8lz6rb6_access" ?

[2022-01-20 11:45] barakagb commented on #61
Yes , unfortunately there was a problem with authentication in the latest
version.Kindly downgrade

On Wed, Jan 19, 2022, 17:28 LienCF ***@***.***> wrote:

[2022-01-20 19:54] barakagb commented on #61
Please upgrade to the latest version.Thanks

On Thu, Jan 20, 2022, 14:41 Baraka ***@***.***> wrote:

[2022-01-21 00:44] LienCF commented on #61
@barakagb Thanks. the new version works.
I tried the https://stackskills.com/courses/enrolled/69490 course.

The new script can download courses but not able to get the course name.

`Enter course url > https://stackskills.com/courses/enrolled/69490
[i] Browser: firefox
[i] Trying cookie authentication ...
[+] Cookie authentication succeeded
[+] Cookie stored to file
[i] Getting sections
[+] Logge

[2022-01-21 06:27] barakagb commented on #61
Yes ,that is noted .For some courses it can fail to get the course name.

On Fri, Jan 21, 2022, 03:44 LienCF ***@***.***> wrote:

[2022-01-30 14:03] #61 closed

[2022-02-05 17:51] m1zr opened #62 "[-] Invalid course URL."
Hi,

Trying to get this course to have it on my laptop but I get invalid URL. It's a teachable course.
URL: https://pro.academind.com/courses/enrolled/767953

[2022-02-06 08:35] barakagb commented on #62
Hi @m1zr , school added . PLease try now.

[2022-02-06 16:02] m1zr commented on #62
It can't log in, asks for cookie and tried to copy it from inspector as JSON, as value etc etc. but nothing works. How does the script expect the cookie? Can you please send instructions?

[2022-02-06 19:28] barakagb commented on #62
The easiest way to get the cookies is  login to the course in firefox and then  run gb-dl.py -d firefox
the script will automatically load the cookies.You can find more help by runing gb-dl.py -h.

[2022-02-06 19:43] m1zr commented on #62
Thank you, that worked.

Just for clarification:
1. I have logged in using Firefox.
2. Opened up powershell and typed in `gb-dl.py`, it opened up the script in VS code.
3. I ran py `gb-dl.py -d firefox` as per your instruction.
4. It simply asks for a course URL and cookie authentication is done automatically.

Thanks for support.

[2022-02-06 19:43] #62 closed

[2022-02-26 18:36] Beta1o opened #63 "Invalid course URL"
Hi Barakagb,

I’m struggling to use the script to backup some courses at the Teachable-based site h[ttps://www.techcast.io/ .

If I understand correctly looking at previous issues, the site needs to be manually added somewhere. Is it possible for you to add it?

Thanks

![image](https://user-images.githubusercontent.com/10288304/155855113-d9f218c3-42a3-410d-b882-fc7a77ab6b7b.png)

[2022-02-27 14:20] barakagb commented on #63
@Beta1o site added. Please try now

[2022-02-27 15:20] Beta1o commented on #63
it giving different issue which showing below
![image](https://user-images.githubusercontent.com/10288304/155888302-ed4f8a5c-3ea6-40b3-aa6a-51930a93c80c.png)

[i] Browser: firefox
[i] Trying cookie authentication ...
[-] Error: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

[2022-02-28 03:34] Beta1o commented on #63
I just try again and I found it working now.
thanks

[2022-03-01 06:40] varunreddy2102 opened #64 "Connection failed . Check your internet connection and try again!"
HI I am trying to use gb-dl to backup a teachable course.
When I run it it asks for course url and then username & password.
Once I enter these I cam getting
Trying to Login ...
[-] Error : Connection failed . Check your internet connection and try again!

Please let me know if there is something different that I should be doing.

Command prompt was opened as an administrator

Thanks

Varun

[2022-03-01 18:53] barakagb commented on #63
Hi @Beta1o , i would need to replicate the problem on my end . Kindly share with me privately the cookies to the course.

[2022-03-01 18:55] barakagb commented on #64
Hi @varunreddy2102  do you have firefox installed ?
what os and python version  are you usinng  ?

[2022-03-02 05:02] Beta1o commented on #63
how I can share it privately ?

[2022-03-02 05:44] barakagb commented on #63
DM via email.

[2022-03-02 06:55] Beta1o commented on #63
Kindly share your email with me.

[2022-03-03 05:43] barakagb commented on #63
barakagb [at] gmail [dot] com

[2022-03-03 15:25] Beta1o commented on #63
Done. I sent it to you.

[2022-03-05 06:10] varunreddy2102 commented on #64
Hi @barakagb I have firefox installed however I got the session cookie from Chrome.
I am on Windows 11, Python Version is 3.9 (64 bit)

Thanks

Varun

[2022-03-08 05:32] varunreddy2102 commented on #64
Hi @barakagb sorry to bother you again. I was wondering if you had a chance to look into this

[2022-03-08 05:46] barakagb commented on #64
I would suggest to use log in into firefox , then run gb-dl.py -d firefox

On Tue, Mar 8, 2022, 08:32 varunreddy2102 ***@***.***> wrote:

[2022-03-08 06:33] varunreddy2102 commented on #64
Thank you I will try that

[image: photo]
Varun Reddy
Director, Interbiz Solutions
<http://www.linkedin.com/company/247hrm/> <http://twitter.com/247HRMS>
<http://www.facebook.com/247HRMSoftware/>
  + 91 63018 54190  <+916301854190>
  +91 9885500222 <+919885500222>
  ***@***.***  ***@***.***>
  www.247hrm.com  <https://www.247hrm.com/>
  501, Indra Dhanush Complex, Rd #2, Banjara Hills, Hyderabad -

[2022-04-08 21:32] AppreciateIT opened #65 "Paid, Didn't get licence"
Hey, I paid but didn't receive licence?  It was not in the Access link file, and is not in my email or spam. :-(
Hope you are well.
Please send and I'll remove this issue. Cheers

[2022-04-09 09:44] barakagb commented on #65
Hi , apologizes for the incovinience .Let me look into it and get back to
you. Usually you should get the key almost immediately.

On Sat, Apr 9, 2022, 00:32 AppreciateIT ***@***.***> wrote:

[2022-04-09 14:09] AppreciateIT commented on #65
No problem.  Sorry I was in such a hurry.  All is well.  Cheers.

[2022-04-09 14:09] #65 closed

[2022-04-18 04:20] LienCF opened #66 "Connection timed out to venvgb.cf"
Enter course url > https://stackskills.com/courses/enrolled/1058255
[i] Trying cookie authentication ...
HTTPSConnectionPool(host='venvgb.cf', port=443): Max retries exceeded with url: /l/ (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x10563b130>: Failed to establish a new connection: [Errno 60] Operation timed out'))
[-] Error : Connection failed . Check your inter

[2022-04-18 06:59] barakagb commented on #66
Noted. Working on it

[2022-04-19 16:27] barakagb commented on #66
Please upgrade gb-dl by running
pip install gb-dl -U

[2022-04-20 03:14] LienCF commented on #66
Thank you. It is working.

[2022-04-20 03:14] #66 closed

[2022-05-23 22:27] trissy69 opened #67 ""Enter Cookie Instead""
When using gb-dl ; I enter the email and password when prompted which brings the following response:

[i] Trying to Login ... 4459 [i] Cloudflare reCaptcha detected Enter cookie instead >

How do I enter the cookie? I cant find any resources regarding this. Please help.

I have downloaded the cookie on a file. How do I "enter the cookie" ?? Nothing I try seems to work.

[2022-05-24 04:34] barakagb commented on #67
The easiest way is to login to the site on firefox then, simply run gb-dl.py -d firefox it will load cookies automatically.

[2022-06-13 10:56] TheOkayMan opened #68 "[-] Invalid course URL."
Enter course url > https://shift-education.teachable.com/courses/1635455/
[i] Browser: firefox
[i] Trying cookie authentication ...
4459
[-] Invalid course URL.

[2022-06-13 11:47] barakagb commented on #68
Hello @TheOkayMan  . URL added . Please try again

[2022-06-13 11:49] #67 closed

[2022-06-13 11:53] TheOkayMan commented on #68
Now it keeps asking for my license key
![image](https://user-images.githubusercontent.com/3007423/173348028-a83d1cec-cac8-4ef0-bb34-5f426a719536.png)

[2022-06-13 12:05] TheOkayMan commented on #68
I also can't open the -h menu, it opens and closes straight away

[2022-06-13 13:17] barakagb commented on #68
Please try now . I have made a few tweaks.

For help , are you using windows if so , try using powershell.

[2022-06-13 13:20] TheOkayMan commented on #68
I am using windows and powershell

From: ***@***.***>
Sent: Monday, 13 June 2022 11:17 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [barakagb/gb-dl] [-] Invalid course URL. (Issue #68)

Please try now . I have made a few tweaks.

For help , are you using windows if so , try using powershell.

—
Reply to this email directly, view it on GitHub<https://github.com/barakagb/gb-dl/iss

[2022-06-13 13:22] TheOkayMan commented on #68
I am using windows and powershell. This time it closes after putting in the url, doesn't let me put in the key

[2022-06-13 13:37] TheOkayMan commented on #68
That seems to have worked, is there a way to download the videos as well?

[2022-06-13 13:58] barakagb commented on #68
Usually the tool downloads the videos. However different courses have different structures , I am not sure of the structure of the course you are trying to download since I do not have access to it. If the tool does not download the videos it could be due to  DRM or else you may share **privately** the cookies to the course so I see if can tweak the tool to download /

[2022-07-15 04:23] varunreddy2102 opened #69 "Error cannot download attachment. Saving URL"
Hi I am trying to use gb-dl to download a course from teachable and I am getting the following error.
Request you to have a look

Course name :________
[i] Getting course sections ...
[i] Downloading course image ...

[+] Found Section :  _____________
[i] Preparing  lecture 1 of 4 download ...
local variable 'name' referenced before assignment
[-] Error can not download attachment ,saving attachm

[2022-07-18 07:19] barakagb commented on #69
Hi , it seems that there are changes in teachable . The script needs an update.

[2022-07-18 07:50] varunreddy2102 commented on #69
Hi
  Thank you for the response
Would you need any help from me?

Regards

Varun

[image: photo]
Varun Reddy
Director, Interbiz Solutions
<http://www.linkedin.com/company/247hrm/> <http://twitter.com/247HRMS>
<http://www.facebook.com/247HRMSoftware/>
  + 91 63018 54190  <+916301854190>
  +91 9885500222 <+919885500222>
  ***@***.***  ***@***.***>
  www.247hrm.com  <https://www.247hrm.com/>
  501, I

[2022-07-24 07:40] hcb999 opened #70 "Connection"
Hi,

thank you for your script! Really looking forward to get this working...

python3 /usr/local/bin/gb-dl.py  -i -d firefox -u https://virtualashram.health/courses/enrolled/1813836

gives me:

HTTPSConnectionPool(host='venv-gb.cf', port=443): Max retries exceeded with url: /l/ (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x10bde5460>: Failed to establish a new con